[2019-01-11 17:18] rusefi opened #1 "Find a way to convert .md pages from here to .pdf files"
Some approaches proposed at https://superuser.com/questions/689056/how-can-i-convert-github-flavored-markdown-to-a-pdf

Need to try one or a couple and see how that goes

[2019-01-11 17:19] rusefi commented on #1
https://github.com/rusefi/rusefi_documentation/tree/master/misc/Saab_Trionic_8_Combustion%20Detection%20Module_on_Mazda_Miata_running_rusEfi could be used a test page for the conversion

command line would be best, maybe we need a complete change of approach? @ZHoob2004 mentioned and I have no idea on pros and cons

[2019-01-11 17:21] rusefi opened #2 "git repo or git wiki or something else?"
What is the best approach for documentation process?

@ZHoob2004 has mentioned git wiki and I have no idea on pros and cons

[2019-06-11 02:52] rusefi opened #7 "ETB tune educational video & howto"
We need to improve https://github.com/rusefi/rusefi_documentation/blob/master/FAQ/HOWTO_tune_electronic_throttle_body.md

We need to shoot a video with real rusEfi and real ETB on a bench.

[2020-04-23 02:11] rusefi commented on #2
https://github.com/rusefi/rusefi/wiki/Documentation_Strategy

[2020-04-23 02:11] #2 closed

[2020-04-23 02:12] rusefi commented on #7
we've made progress!

https://github.com/rusefi/rusefi/wiki/HOWTO_electronic_throttle_body_configuration

[2020-04-23 02:12] #7 closed

[2020-04-23 02:12] rusefi opened #27 "multi-spark manual"
we have mutli spark with zero content

[2020-04-23 02:14] rusefi opened #28 "dev documentation: profiler"
we have something for profiling with chrome as UI frontend

we need to document this

[2020-04-23 02:20] rusefi commented on #28
See also https://github.com/rusefi/rusefi/issues/1351

[2020-04-23 02:20] rusefi commented on #28
See also https://github.com/rusefi/rusefi/issues/974

[2020-04-27 18:09] rusefi commented on #28
@mck1117 I would like to reiterate the importance of this ticket in my opinion.

[2020-04-27 18:09] rusefi commented on #27
@mck1117 I would like to reiterate the importance of this ticket in my opinion.

[2020-04-27 18:39] mck1117 commented on #27
didn't @SVeilleux9 write a page on this?

[2020-04-27 18:47] rusefi commented on #27
What is the URL for that page?

[2020-04-28 15:51] OrchardPerformance commented on #27
I have put a template for the multi-spark into the last PR, @SVeilleux9 has some content to drop there.
Otherwise I can take that over if required.

[2020-04-29 04:55] rusefi commented on #28
Progress at https://github.com/rusefi/rusefi/wiki/Developer:-Performance-Tracing

[2020-04-29 05:01] rusefi opened #35 ""download" and boards pages improvements"
https://github.com/rusefi/rusefi/wiki/Download
still has links to old simulator page
let's remove stuff from legacy wiki simulator page and replace with just a link to new simulator page

We need some small/medium size icons/images for boards and links between "download" and sections of "hardware" page

on hardware page we need a bit more content maybe take something from forum - see links at
http

[2020-04-29 05:01] rusefi commented on #35
@Timbelom please look into all this

[2020-04-29 05:11] rusefi opened #36 "more "overview" content"
we need more content on
https://github.com/rusefi/rusefi/wiki/overview

we shall take parts of https://rusefi.com/wiki/index.php?title=Main_Page at least embed some of youtube

let's see if we can copy/paste anything from https://rusefi.com/forum/viewtopic.php?f=13&t=1658 presentation

[2020-04-29 05:11] rusefi commented on #36
@duhafnusa4 can you look into this?

[2020-04-29 05:14] rusefi opened #37 "kill https://github.com/rusefi/rusefi_documentation/wiki"
we now have *three* git repositories/URLs

https://github.com/rusefi/rusefi/wiki
https://github.com/rusefi/rusefi_documentation/wiki
https://github.com/rusefi/rusefi_documentation

with same content

we definitely need to kill https://github.com/rusefi/rusefi_documentation/wiki - to do that we need to find all links to https://github.com/rusefi/rusefi_documentation/wiki and replace with https://gi

[2020-04-29 05:15] rusefi opened #38 "dead links - toolset and audit"
we have a few broken links even image links on the new wiki

we need to document our favorite online or offline took to find broken links

we shall see what's the status with broken link and what can we fix

[2020-04-29 05:16] rusefi commented on #38
@Timbelom can you google what are helpful tools here?

[2020-04-29 05:16] rusefi commented on #37
@Timbelom can you google what are helpful tools here?

[2020-04-29 12:47] SVeilleux9 commented on #27
I have the document, I just need to pull together several TS screenshots and I can upload it.

[2020-04-29 14:00] duhafnusa4 commented on #36
I'm on it

[2020-04-29 16:09] rusefi opened #39 "Update rusEfi map & mention map on wiki"
jvluntzel now has access to edit rusEfi map

it could be that https://rusefi.com/forum/viewtopic.php?p=31825#p31825 is the last update I did?

once we update we shall post on the forum "everyone added" for us to know where is the threshold for next time

[2020-04-29 16:26] duhafnusa4 commented on #36
images for screenshots of video links
![rusEFI_1](https://user-images.githubusercontent.com/5051341/80620873-2bf5ef80-8a0c-11ea-80be-6a76a9c4a129.png)

[2020-04-29 16:37] duhafnusa4 commented on #36
updated to look better. We can add more if we want.

![rusEFI_1](https://user-images.githubusercontent.com/5051341/80621997-bf7bf000-8a0d-11ea-998e-48fc3accba59.png)

[2020-04-29 16:42] duhafnusa4 commented on #36
![rusEFI_2](https://user-images.githubusercontent.com/5051341/80622501-809a6a00-8a0e-11ea-8efc-b575def1d132.png)

[2020-04-29 16:52] rusefi opened #40 "Add microRusEfi documentation to index page"
We need a reference to MRE documentation on wiki home.md

MRE documentation itself is a mess with 70% on RE wiki and 30% on microRusEfi github

https://github.com/rusefi/hw_microRusEfi/wiki is the cherry on the cake

[2020-04-29 17:33] rusefi opened #41 "slack doc"
we have a forum post explaining how to join slack but it's forum and confusing

we need Slack.md

[2020-04-29 17:34] rusefi commented on #41
@Timbelom can you take care of this one?

forum post https://rusefi.com/forum/viewtopic.php?f=13&t=1198

[2020-04-29 17:35] rusefi commented on #40
@duhafnusa4 can you?

[2020-04-29 18:11] rusefi opened #42 "Document rusEFI platforms and channels guidelines"
from phone calls to facebook group we shall list all channels on one wiki page and articulate our strategy

[2020-04-29 18:12] rusefi commented on #42
@OrchardPerformance ?

[2020-04-29 21:23] duhafnusa4 commented on #40
@rusefi do I need to fork to edit wiki home.md? sorry still learning the ins and outs of GH

[2020-04-30 19:31] Timbelom commented on #41
@rusefi issue resolved

[2020-04-30 19:32] rusefi commented on #41
@Timbelom please add to home.md maybe just edit homr.md online right in live wiki

[2020-04-30 20:29] duhafnusa4 commented on #40
![MRE_PCB](https://user-images.githubusercontent.com/5051341/80747087-806e9d00-8ae8-11ea-983e-330dfc6e3015.jpg)
![MRE_CASE](https://user-images.githubusercontent.com/5051341/80747096-849aba80-8ae8-11ea-862c-d124ef75f06a.jpg)

[2020-05-15 03:28] rusefi commented on #37
https://github.com/rusefi/rusefi_documentation/wiki is no longer a mirror, it now shows the proper location. we might have broken links but at least new bad links would not be appearing

technically another option would be to disable wiki

[2020-05-15 03:28] #37 closed

[2020-05-21 17:48] #41 closed

[2020-05-22 19:26] OrchardPerformance commented on #27
@SVeilleux9 - The page looks like it has had a lot of updates?
Is this closed?

[2020-05-30 15:18] rusefi commented on #40
@OrchardPerformance close or not close?

[2020-05-30 15:18] rusefi commented on #42
@OrchardPerformance

[2020-05-30 15:19] rusefi opened #59 "Need help on trigger setup"
Looks like we need wiki pages related to how you setup most common triggers

See https://rusefi.com/forum/viewtopic.php?f=4&t=1759

[2020-05-30 15:20] rusefi commented on #59
![image](https://user-images.githubusercontent.com/7377949/83332142-8da5b580-a267-11ea-95df-99b21aae924c.png)

![image](https://user-images.githubusercontent.com/7377949/83332150-98f8e100-a267-11ea-93cf-4f3f2b20840b.png)

[2020-05-30 18:23] GlitchKnitter opened #60 "Developer Performance Tracing Wiki page improvement"
https://github.com/rusefi/rusefi/wiki/Developer-Performance-Tracing

As noted in link above, the Capturing a Trace section requires writing, and the Interpreting a Trace section is missing required images.

[2020-06-01 23:21] OrchardPerformance commented on #42
Will put this on the (literal physical post-it not on my monitor) list

[2020-06-01 23:22] OrchardPerformance commented on #38
My favorite offline link detection method is @GlitchKnitter

[2020-06-01 23:49] rusefi commented on #38
@OrchardPerformance is that Artificial Intelligence or Natural Intelligence System?

[2020-06-03 23:43] rusefi opened #66 "case studies - baseline good tunes with logs showing few important modes"
we need at least three tunes for three vehicles, with set of logs we are happy with
1) cranking and warm-up
2) idling
3) driving with acceleration

[2020-06-04 02:10] mck1117 commented on #66
I'm happy to record a drive today and share the log

[2020-06-04 02:12] rusefi commented on #66
drive would be "#3"

also need cold start/warm-up & warm idling :)

[2020-06-04 02:22] mck1117 commented on #66
drive = start logging, start car, leave driveway, go somewhere, shut down, etc.  So it probably includes all 3!

[2020-06-04 04:02] mck1117 commented on #66
https://rusefi.com/forum/viewtopic.php?p=36923#p36923

[2020-06-04 04:08] rusefi commented on #66
@andreika-git FYI https://rusefi.com/forum/viewtopic.php?p=36923#p36923

[2020-06-20 23:02] mck1117 opened #69 "Document verbose CAN mode"
We have no docs for what data comes out on what channels, which would be useful for people with telemetry systems and dashboards.

[2020-08-07 17:54] rusefillc opened #74 "TPS acceleration content move from legacy to new wiki"
@stefanst has contributes great content to https://rusefi.com/wiki/index.php?title=Manual:Software:Fuel_Control which would need to be moved to https://github.com/rusefi/rusefi/wiki/Acceleration_Compensation

[2020-08-07 18:37] rusefillc commented on #74
See https://rusefi.com/forum/viewtopic.php?p=37546#p37546 for user feedback

[2020-08-15 15:40] rusefillc opened #76 "hints for USB connectivity"
Matthew Kennedy  11:35 AM
It needs to be shielded all the way to the connector
Don't connect the shield at the ECU end
There should be exactly one ground from laptop to ECU, and it needs to be in the usb cable, no splices.

Alex Miculescu  11:36 AM
it is there

Andrey  11:37 AM
#dev_documentation this? ^^^ @Simon - Orchardperformance?

Alex Miculescu  11:37 AM
i use the pig tail then the usb cable

[2020-08-19 16:08] rusefillc opened #79 "MRE main relay pictures put them somewhere"
@OrchardPerformance do we want to use these anywhere?

![image_from_ios](https://user-images.githubusercontent.com/48498823/90661158-d8a2e980-e214-11ea-9cbe-2fdef184c4a1.jpg)

![image_from_ios (1)](https://user-images.githubusercontent.com/48498823/90661048-ba3cee00-e214-11ea-93be-e6ad2f52d6b9.jpg)

[2020-08-19 18:02] rusefillc commented on #79
the smarter one is

![image](https://user-images.githubusercontent.com/48498823/90672739-94b7e080-e224-11ea-92fb-12a4fdc5b056.png)

[2020-08-21 19:01] rusefillc opened #80 "Migrate connectors vault to new wiki"
We shall move https://rusefi.com/wiki/index.php?title=Hardware:OEM_connectors content to new wiki and leave a ghost redirect link on the old wiki

[2020-08-21 21:16] rusefillc opened #81 "auto ETB documentation"
looks like
https://github.com/rusefi/rusefi/wiki/HOWTO_electronic_throttle_body_configuration is not up to date

[2020-08-30 20:49] rusefillc opened #97 "s/rusEfi/rusEFI/ and deal with consequences"
it should be "rusEFI"
it would probably break a couple of wiki links?

[2020-09-12 00:27] rusefillc opened #100 "rusEFI at SF"
sync got broken?

https://sourceforge.net/p/rusefi/code/HEAD/tree/trunk/

fix sync? drop SF? else?

[2020-09-12 08:15] rusefillc commented on #27
@mck1117 @SVeilleux9 ?

[2020-09-12 08:16] rusefillc commented on #80
@chuckwagoncomputing thank you!

[2020-09-12 08:16] #80 closed

[2020-09-12 09:08] rusefillc opened #101 "we need to mark legacy media wiki deprecated somehow - like a warning on ANY page"
footer? header?

i hope anyone with edit permission can edit footer/header?

[2020-09-12 09:14] rusefillc commented on #101
https://rusefi.com/wiki/index.php?title=Main_Page

actually LocalSettings.php file had to be edited

[2020-09-18 13:43] rusefillc opened #102 "We should link to the releases from the website and not to the daily builds."
@stefanst says We should link to the releases from the website and not to the daily builds.

[2020-09-18 13:57] stefanst commented on #102
Maybe some explanatory reasoning is in order:
The daily builds are experimental in character. They contain the latest and greatest ideas and, at times, they suffer from being broken to some degree. For me, as somebody who builds units for 3rd parties (i.E. customers), I need to be able to send them to a location where they can find the stable release that was used to program their specific unit. T

[2020-09-18 14:29] OrchardPerformance commented on #102
I would tend to agree with that. I think all the dev guys know its /build_server for the daily builds and we can link it from the wiki for those who don't remember it.
I have been shipping all units out with the latest release build and suggesting they get the release from github unless they have a specific issue a daily build fixes.

[2020-09-19 08:12] rusefillc commented on #102
We all are in agreement

@OrchardPerformance has all the powers to edit both legacy and current wiki :)

[2020-09-20 16:10] rusefillc commented on #102
github has smart linking to latest release artifacts like https://github.com/rusefi/rusefi/releases/latest/download/rusefi_bundle_mre_f4.zip

[2020-09-20 16:12] rusefillc commented on #102
https://github.com/rusefi/rusefi/wiki/Download has links mostly to latest now

[2020-09-23 07:49] rusefillc opened #103 "document na6 fuel pump drama"
lack of rusEFI role in fuel pump
https://rusefi.com/forum/viewtopic.php?p=37916#p37916

[2020-09-25 14:54] stefanst commented on #102
Customers with existing boards may at times want to be able to download previous releases. We should have a collection of links to all stable releases somewhere. At this time all I can find is links to the latest release.

[2020-09-27 18:46] rusefillc commented on #102
@stefanst how about now?

https://github.com/rusefi/rusefi/wiki/Download

[2020-09-28 18:34] OrchardPerformance opened #105 "Pressures should be clear if they are absolute or gauge"
Some confusion arising at to the scale of the pressures we use.
Suggest we need to clarify in the documents or mark the units as kPa(a) AND kPa(g) to signify absolute and gauge.

Maybe we should also standardise to absolute?

[2020-10-04 03:20] rusefillc commented on #28
We had a great start but still huge gaps on https://github.com/rusefi/rusefi/wiki/Developer-Performance-Tracing

@mck1117 please revisit this.

[2020-10-04 16:10] rusefillc opened #106 "Document 'popular vehicles'"
https://rusefi.com/forum/viewtopic.php?p=38028#p38028

[2020-10-04 22:43] rusefillc commented on #106
See also https://github.com/rusefi/rusefi/issues/1810

[2020-11-18 17:55] rusefillc opened #107 "google page index shows legacy wiki :("
part of the issue is that legacy wiki is at rusefi.com domain while new wiki is at github domain so google does not see new GH wiki as part of rusEFI

![image](https://user-images.githubusercontent.com/48498823/99568337-4b02a180-299d-11eb-879e-fd8d93076fb9.png)

[2020-11-27 18:46] rusefillc opened #109 "Release date not visible on https://github.com/rusefi/rusefi/wiki/Download"
https://github.com/rusefi/rusefi/wiki/Download does not give a trivial way to show release date?

[2020-11-30 15:46] rusefillc opened #110 "https://github.com/rusefi/rusefi/wiki/HOWTO-quick-start is a bit outdated"
https://github.com/rusefi/rusefi/wiki/HOWTO-quick-start focuses on Frankenso and discovery which is no longer popular as of today

Can we merge https://github.com/rusefi/rusefi/wiki/Installing-a-PnP-rusEFI-unit-startup-and-test into https://github.com/rusefi/rusefi/wiki/HOWTO-quick-start or something similar?

[2020-12-04 21:54] rusefillc opened #111 "two feature lists how do we make sure those are in sync?"
Also boost and launch are now available we need lists to reflect

![image](https://user-images.githubusercontent.com/48498823/101218611-60402700-3651-11eb-99bc-a1f9af375751.png)

[2020-12-04 23:38] rusefillc commented on #111
@ksmola can we improve "in development" icon to be more obvious? maybe shady checkbox?

[2020-12-04 23:45] rusefillc commented on #111
I've promoted Launch and Boost to "working" since we, well, at least have unit tests :)

I've also moved all not supported towards the bottom of lists

Still have a problem of two unrelated lists and manual sync, also wiki does not have "in development" state which www.rusefi.com has, we need a solution probably?

[2020-12-25 15:47] rusefillc opened #113 "documentation->other does not click?"
https://rusefi.com/
click "documentation"
"other" is not active. Need help with "other"

[2020-12-25 16:02] rusefillc commented on #113
also @blundar is asking to add a link to "wiki" from "links"

[2020-12-25 16:04] rusefillc opened #114 "wiki footer is ugly"
wiki footer needs a link to rusefi.com site - DONE
maybe footer should be centered image which is a link? I did not find a way for image (need nicer image?) to be a link

[2020-12-25 17:22] ksmola commented on #114
better?

[2020-12-25 18:56] rusefillc commented on #114
better than we deserve.

thank you!

[2020-12-25 18:56] #114 closed

[2021-01-01 05:35] rusefillc commented on #113
@ksmola this is done

[2021-01-01 05:35] #113 closed

[2021-01-01 17:33] ksmola opened #116 "update logos"
[rusefi_logo_vertical.tar.gz](https://github.com/rusefi/rusefi_documentation/files/5759205/rusefi_logo_vertical.tar.gz)
Here's the vertical version of the rusefi logo.

sites that currently use the old logo and should be updated (there might be more...):
(replace with either vertical or horizontal logo, whatever is more suitable)
- github
- youtube
- facebook
- instagram

[2021-01-01 17:40] rusefillc commented on #116
need a trivial way to find files for the next 3 years. we have 'style' folder in primary repo, let's rename style to legacy style and push new style into same folder?

[2021-01-01 18:28] ksmola commented on #116
sounds like a plan, I'll PR shortly

[2021-01-01 20:44] rusefillc commented on #116
FB likes to circle does it?

![image](https://user-images.githubusercontent.com/48498823/103445967-47bf2e80-4c48-11eb-903a-ac6a76b69191.png)

[2021-01-01 20:45] rusefillc commented on #116
instagram loves circles as well

![image](https://user-images.githubusercontent.com/48498823/103445983-6d4c3800-4c48-11eb-9358-ed4c11b8e886.png)

[2021-01-01 21:42] ksmola commented on #116
latest PR has wider logos

[2021-01-01 21:56] rusefillc commented on #116
![image](https://user-images.githubusercontent.com/48498823/103446851-485cc280-4c52-11eb-8967-086b5f921bdc.png)

![image](https://user-images.githubusercontent.com/48498823/103446853-57437500-4c52-11eb-8203-48fd06a91d79.png)

[2021-01-01 22:13] rusefillc commented on #116
hehe
![image](https://user-images.githubusercontent.com/48498823/103447098-ba360b80-4c54-11eb-817b-f8a6da011a4d.png)

[2021-01-02 00:15] ksmola commented on #116
pr'd a tiny version of the wide black-on-orange logo

[2021-01-02 05:02] rusefillc commented on #116
zero priority

shall we add "150" into the name? legacy icons had sizes in names because that was sometimes handy

![image](https://user-images.githubusercontent.com/48498823/103451098-c5595d80-4c8d-11eb-9312-ff6c49d93bb7.png)

[2021-01-10 16:43] rusefillc opened #118 "best practices for wiring documentation"
we have two use-cases for PnP documentation:

1) a table of wires for specific vehicle like https://github.com/rusefi/rusefi/wiki/Mazda-Miata-2003

2) a comparison table between multiple similar vehicles https://docs.google.com/spreadsheets/d/1OiEaak7TElKwF-fXWvl9Dk-fD84a0NENe6lOwhXiOe4

at the moment we maintain both files separately. is it time to come up with something better?

a yaml file for

[2021-01-10 16:47] OrchardPerformance commented on #118
I think its ok as is, only because the comparison sheet is more of a guide for us to be able to work on new applications before doing correct verification directly on the vehicle and creating the table of wires specific to the vehicle.

The comparison table should only ever be treated as a best guess and not something to point users to.

[2021-01-30 03:06] SVeilleux9 commented on #27
@OrchardPerformance Just a heads up I wrote that page without knowing much about multi-spark. I understand what it does, but it could probably use some wording as to why you would use it, why you should care.

[2021-02-16 23:09] chuckwagoncomputing opened #123 "Broken Links"
Here is the current output of brokenlinks.sh:

[code]

[2021-02-16 23:11] chuckwagoncomputing commented on #38
I have created a tool:
https://github.com/rusefi/rusefi_documentation/blob/master/wiki-tools/brokenlinks.sh

I have created an issue with the remaining links that is has found that cannot be fixed automatically by it:
https://github.com/rusefi/rusefi_documentation/issues/123

[2021-02-16 23:14] #101 closed

[2021-02-16 23:17] chuckwagoncomputing commented on #100
Is SF providing any value at this point?

[2021-02-16 23:19] mck1117 commented on #100
no

[2021-02-16 23:33] chuckwagoncomputing commented on #100
burn it

[2021-02-16 23:40] rusefillc commented on #100
"burn" is vague.

I am not sure what are the relevant buttons if any https://webapps.stackexchange.com/questions/42490/can-you-delete-a-project-on-sourceforge

[2021-02-16 23:42] mck1117 commented on #100
ok well that's pretty dumb, thanks sourceforge

[2021-02-16 23:43] mck1117 commented on #100
maybe you can open an issue on sourceforge itself? https://sourceforge.net/p/forge/site-support/14223/

[2021-02-16 23:43] chuckwagoncomputing opened #124 "Sync Wiki now triggers rusefi/rusefi Sync Wiki"
For some reason, after the Sync Wiki workflow runs on this repo, the Sync Wiki workflow runs on the rusefi/rusefi repo. It doesn't really hurt anything, it just fails.

[2021-02-16 23:46] chuckwagoncomputing commented on #100
When I search "open source ecu" in DuckDuckGo, the SF repo is the 6th result, and the only other rusEFI result on the first page is the Hackaday article about Frankenstein. That's got to be confusing to someone when they go to the repo and see that it hasn't been updated since 2019.

[2021-02-16 23:49] rusefillc commented on #100
I wonder if it would be better to drop all files via SVN and keep the "moved to GH" readme?

[2021-02-17 23:27] chuckwagoncomputing commented on #97
I think I've solved this satisfactorily. If more examples turn up we'll deal with them with a new issue.

[2021-02-17 23:27] #97 closed

[2021-02-18 21:16] #38 closed

[2021-02-22 20:10] SVeilleux9 opened #130 "micorusefi pinout not uses molex names"
The pinout documentation for the MRE is inconsistent.

Looking here the 12 V main relay pin is in the bottom right. https://github.com/rusefi/rusefi/wiki/Hardware-microRusEFI-wiring This pin is pin 4-M of the Molex connector where as the top right pin is pin 1-M of the Molex connector.

The pinout documentation found here https://rusefi.com/docs/pinouts/microrusefi/ shows that the 12 V main relay

[2021-02-22 20:21] SVeilleux9 commented on #130
Is there a reason to not use the Molex markings? Instead of using pin 39 it would be pin 3C?

Also 2 pin numbers are missing on this site currently, Pin 23 and 24. Also Pin 27 and 28 are shifted one column to the right. https://rusefi.com/docs/pinouts/microrusefi/ This may be intentional but may be confusing to the end user.

[2021-02-22 20:31] chuckwagoncomputing commented on #130
Looks like pins 23 and 24 are missing because 27 and 28 are covering them up. My dumb self made a mistake, and my blind self somehow didn't notice.

Regarding pin numbers, it seems rusEFI has been using some standard that doesn't match the markings on the connector. The question is whether we continue with this standard, or change it to match the connector. It will be easier to fix the automated p

[2021-02-22 20:34] SVeilleux9 commented on #130
What will be easiest for the end user to understand? In my opinion having pin 1 next to the pin 4 marking is asking for someone to make a mistake.

[2021-02-22 20:42] rusefillc commented on #130
not matching moles naming was a mistake. it is now too late to fix that mistake on my opinion, we will have to live with it

[2021-02-22 20:48] rusefillc commented on #130
we should pit a huge red warning on the pinout wiki document

[2021-02-22 20:49] SVeilleux9 commented on #130
Not to pry and I will agree with you that it is too late, but is it really? How much documentation uses the previous naming convention, and how many units are out in the wild this would effect?

If you take a look at this from a new users mindset, how confusing will using the Molex naming be? I can see this being confusing if someone develops on the board, or makes a PnP adapter board.

[2021-02-22 20:57] rusefillc commented on #130
@SVeilleux9 I would be happy to sell all MRE stock and transfer all repo ownership and not spend another minute on MRE

I do not see any other scenario where I can afford that fix. so far 1 confusion is 2% of user base, does not justify 8 hours to fix and unconfuse kicad names versions

[2021-02-22 21:00] chuckwagoncomputing commented on #130
If we were to correct everything to match the connector stampings, that would break people's TunerStudio configs, would it not?

[2021-02-22 21:02] rusefillc commented on #130
yes it would

[2021-02-22 22:13] rusefillc commented on #130
https://github.com/rusefi/rusefi/wiki/Hardware-microRusEFI-wiring#warning-for-historical-reasons-microrusefi-pin-numbers-do-not-match-molex-numbers-on-the-plastic

[2021-02-22 22:13] rusefillc commented on #130
![image](https://user-images.githubusercontent.com/48498823/108777134-57187500-7531-11eb-8abb-8050b1acb75c.png)

[2021-03-06 12:27] OrchardPerformance commented on #76
Will also link my quick video on this subject to the wiki

[2021-03-27 23:26] chuckwagoncomputing commented on #124
The opposite also happens.

[2021-03-27 23:49] chuckwagoncomputing commented on #124
#132
https://github.com/rusefi/rusefi/pull/2502

[2021-04-10 01:05] chuckwagoncomputing commented on #124
I think this is fixed.

[2021-04-10 01:05] #124 closed

[2021-04-27 13:06] rusefillc commented on #100
https://sourceforge.net/p/rusefi/code/HEAD/tree/firmware_archive/ is the most useful part we need to preserve somewhere

[2021-05-02 02:07] rusefillc opened #134 "add "why mini? why switch from micro on MRE?" to https://github.com/rusefi/rusefi/wiki/Hardware FAQ"
Anthony (Motorhead1991)  9:44 PM
Any reason we're still using microUSB and not type c?
9:45
Just curiosity

Simon - Orchardperformance  9:46 PM
Cost basically
9:46
Usb c options were limited and expensive
9:46
Mini USB has proven to be a good ballance between durability and cost

Zach Hoobler  9:46 PM
Jlc now has usbc, so might be a consideration to switch?

Anthony (Motorhead1991)  9:46 PM
Makes

[2021-05-13 05:13] rusefillc commented on #81
@mck1117 poke :)

[2021-05-13 05:15] rusefillc opened #135 ""looking for developers" message on boards"
We need a really short mix of https://github.com/rusefi/rusefi/wiki/Mission-Statement and https://github.com/rusefi/rusefi/blob/master/misc/Strategy_2021.md spelled out on some or many boards

@blundar can you articulate the "We are looking for software developers" in few words?

[2021-05-13 07:21] mck1117 commented on #81
you mean like this? https://github.com/rusefi/rusefi/wiki/Electronic-Throttle-Body-Configuration-Guide

[2021-05-13 23:43] #81 closed

[2021-05-17 17:27] rusefillc opened #137 "wiki is ETB heavy makes you wonder if we even support mTB"
Got feedback that current wiki is so ETB heavy it makes one wonder if we support cable TB

[2021-05-17 19:05] rusefillc opened #138 "Deploy GH wiki Rust proxy"
https://github.com/nelsonjchen/github-wiki-see-rs

need a box where we can drop a docker and park rusefi subdomain

[2021-05-17 19:19] rusefillc commented on #138
@chuckwagoncomputing would you like root access to

![image](https://user-images.githubusercontent.com/48498823/118544119-32dcc680-b723-11eb-94a7-a0346cea9699.png)

[2021-05-17 20:50] rusefillc commented on #138
https://github.com/djacquel/WikiToJekyll is an alternative

[2021-05-17 22:56] chuckwagoncomputing commented on #137
It's not ETB heavy, it's everything else light.

[2021-05-17 22:58] chuckwagoncomputing commented on #138
@rusefillc I think we should do the Github Pages option. If you're on board with that, you should create a repo and set up a .rusefi.com subdomain to point to it.

https://docs.github.com/en/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site

[2021-05-17 23:01] mck1117 commented on #137
heh, it's ETB heavy because enough people asked that I wrote the howto guide

[2021-05-18 04:41] rusefillc commented on #138
https://github.com/rusefi/rusefi.github.io created
GH is aware of custom domain now https://github.com/rusefi/rusefi.github.io/blob/main/CNAME

![image](https://user-images.githubusercontent.com/48498823/118591221-d359d780-b771-11eb-87a4-2121b636ed1d.png)

[2021-05-18 04:44] rusefillc commented on #138
Now I am confused why does http://rusefi.github.io redirect me to http://wiki.rusefi.com?

[2021-05-18 04:56] rusefillc commented on #138
![image](https://user-images.githubusercontent.com/48498823/118592400-dfdf2f80-b773-11eb-88cc-387bbbbf659c.png)

[2021-05-18 04:57] rusefillc commented on #138
certificate drama next?

![image](https://user-images.githubusercontent.com/48498823/118592433-ee2d4b80-b773-11eb-9d15-be1ef7f6e7bf.png)

[2021-05-18 12:19] chuckwagoncomputing commented on #138
https://docs.github.com/en/pages/configuring-a-custom-domain-for-your-github-pages-site/troubleshooting-custom-domains-and-github-pages#https-errors

[2021-05-18 16:10] rusefillc commented on #138
is TL,DR to wait an hour?
It has been a few and still

![image](https://user-images.githubusercontent.com/48498823/118686518-0f248980-b7d2-11eb-9fb9-9e23aa85c1e7.png)

[2021-05-18 16:41] chuckwagoncomputing commented on #138
Try removing and re-adding the custom domain in the repo settings.

[2021-05-18 16:47] rusefillc commented on #138
![image](https://user-images.githubusercontent.com/48498823/118691489-21ed8d00-b7d7-11eb-8f7e-ac8737dcb60e.png)

will give it a couple of hours and re-add

[2021-05-18 21:50] rusefillc commented on #138
IT HAS WORKED?!

![image](https://user-images.githubusercontent.com/48498823/118727897-86bddd00-b801-11eb-992c-fce25bbd4c28.png)

[2021-05-18 21:52] rusefillc commented on #138
![image](https://user-images.githubusercontent.com/48498823/118728181-be2c8980-b801-11eb-8fa2-3d350b805187.png)

[2021-05-19 22:28] rusefillc commented on #138
Need help with all this :(

https://docs.github.com/en/pages/setting-up-a-github-pages-site-with-jekyll
And the plugin and config from https://github.com/djacquel/WikiToJekyll

[2021-05-20 02:51] chuckwagoncomputing commented on #138
So it turns out that Github Pages only supports a subset of Jekyll plugins, so the WikiToJekyll plugin doesn't work. We can generate it with a Github Action though.

[2021-05-20 12:01] chuckwagoncomputing commented on #138
So basically, at this point there's no purpose to using Github Pages. In fact we'll be ahead with the configurability of our own server.
New Plan: Use a Github Action to generate static site files and FTP them to the server.

As to which static site generator to use, I'm not sure yet. Either I don't understand Jekyll infrastructure, or it's deeply crippled for non-github-pages use.

[2021-05-21 22:48] chuckwagoncomputing commented on #138
Status update:
My next idea was Readthedocs. Readthedocs has a "Github Import" feature, but it doesn't seem to know how to handle markdown properly.
So I decided to try Sphinx, which is what Readthedocs runs on. There is a markdown parser extension for it. This works reasonably well, but has a few issues I haven't figured out how to handle.
1. If you add a file to the table of contents, all of the

[2021-05-22 01:10] chuckwagoncomputing commented on #138
Now I have tried using Pandocs to convert all the .md files to .rst first. This fixes problem 1, but breaks tables in a new and interesting way. Pandoc makes large cells multiple lines high, and Sphinx doesn't handle that properly.

[2021-05-22 01:54] chuckwagoncomputing commented on #138
Now I have tried Gollum, which is what Github Wikis use behind the scenes. It has problems too.
1. Tables don't work, and I don't know why.
2. Links to pages in a directory don't work. Gollum docs say you can use --lenient-tag-lookup to make this work, but it doesn't.

Besides these, it's fairly nice.

[2021-05-22 03:10] chuckwagoncomputing commented on #138
I have found MkDocs and it is beautiful.

[2021-05-22 04:20] chuckwagoncomputing commented on #138
We still need to add "title" headers, but otherwise I'm happy with this. Demo at https://rusefi.chuckwagoncomputing.com/wiki/Home/

[2021-05-22 16:23] chuckwagoncomputing commented on #138
OK, so I'm happy with how things have worked out with MkDocs, and am ready to PR it. I have one question though. Do we want to keep the Github Wiki? Both are compatible with the current state of the wiki, but if we take advantage of things MkDocs can do (Youtube embeds!) then the Github Wiki will be broken.
My vote is to drop it like a hot potato. :)

[2021-05-22 17:29] rusefillc commented on #138
I vote for one wiki whichever is best

[2021-05-24 18:40] chuckwagoncomputing commented on #138
Noting this here so you don't forget:
The main page of the wiki is https://rusefi.com/docs/wiki/Home/
Whatever URL you want to use will need to be redirected to that.
e.g.
https://rusefi.com/docs/wiki
https://rusefi.com/wiki
https://wiki.rusefi.com
Or as many as you like, though we should probably pick one as "official".

[2021-05-24 19:03] rusefillc commented on #138
definitely not https://rusefi.com/docs/wiki :) I will add/fix secrets once we are closer to production

[2021-05-24 19:23] rusefillc opened #144 "What shall we do with legacy wiki? wiki1"
wiki1 https://rusefi.com/wiki/
wiki2-human https://github.com/rusefi/rusefi/wiki/
wiki2-technical https://github.com/rusefi/rusefi_documentation
wiki3 wiki.rusefi.com

Problem: there are a few legacy links to pages like

https://rusefi.com/wiki/index.php?title=Main_Page

See http://www.turbobricks.org/forums/showthread.php?t=329200
See https://www.electronicspoint.com/forums/threads/ecm-jeep-compu

[2021-05-24 19:26] rusefillc commented on #138
Depends on #144

[2021-05-24 19:27] rusefillc opened #145 "What's up with "Home" redirect?"
can we simply add an index option redirect file manually?

which gets me to the question - how do we handle page removal at the moment? do we just keep uploading new pages and page rename in git would give as a stale old page and new page under new name in the generated space?

[2021-05-24 19:27] rusefillc commented on #138
Depends on #145

[2021-05-24 19:28] rusefillc opened #146 "Fix existing links from GHW to GHW"
https://github.com/rusefi/rusefi/wiki/DevOps seems like an example of a github wiki referencing itself using full path

Shall we fix all those before the big wiki migration?

[2021-05-24 19:28] rusefillc commented on #138
Depends on #146

[2021-05-24 20:07] chuckwagoncomputing commented on #145
I'm not sure what you mean by "index option redirect file". What I expect you to do, (unaware of a better solution) is to add a redirect to your .htaccess file.

As to your second question, the only real option is to manually remove them, or remove the entire wiki directory and run the workflow again. If your server had SSH access we could use rsync or something and it wouldn't be a problem.

[2021-05-24 20:13] chuckwagoncomputing commented on #144
It should at least redirect to the new wiki home page. Anything beyond that is manual labor. I'd suggest having a system in place for it, even if that's just @rusefillc editing his .htaccess to manually add a specific redirect.

[2021-05-24 20:15] rusefillc commented on #145
"index option redirect file" was me referencing the magic of .htaccess which I am vaguely familiar with but not extremely comfortable

to keep my small brain from exploding can you please give me full .htaccess and I am happy to drop it?

Another approach would be for me to create a new SFTP user and share password with you, or else

[2021-05-24 20:18] rusefillc commented on #144
sounds like that's an argument for NOT using legacy rusefi.com/wiki path for "new" wiki

keep rusefi.com/wiki for legacy compatibility and have latest wiki somewhere else

and "somewhere else" could mean wiki.rusefi.com at github.io without SSH and stuff and we have to carefully weigh all pros and cons of wiki.rusefi.com at github.io

[2021-05-24 23:27] chuckwagoncomputing commented on #145
I use Nginx not Apache so I don't have a setup in place to test to make sure it works.
And the content will depend on what URL you choose, but it will probably be something like `Redirect 301 /wiki /wiki/Home`

SFTP won't get us anything over FTP if it's _only_ SFTP. SFTP is basically SSH, but with a shell that only accepts a limited number of commands.

Actually... we CAN delete the wiki director

[2021-05-25 06:40] rusefillc commented on #145
apparently there was

![image](https://user-images.githubusercontent.com/48498823/119450752-61016e00-bd02-11eb-96b2-901fad5d99f4.png)

not 100% sure if in proper folder I am confused since other tools are showing my brand new

![image](https://user-images.githubusercontent.com/48498823/119450828-7b3b4c00-bd02-11eb-94cb-2c80ff72b844.png)

[2021-05-25 17:15] chuckwagoncomputing opened #148 "New Wiki image path drama"
The new wiki doesn't handle paths quite the same as the Github Wiki.
When a mardown file is in a sub-directory, e.g. Hardware, and has an image in it that is also in a subdirectory, Github requires the path like so:
"Hardware/foo.png"
MkDocs parses this relative to the directory of the markdown file: "Hardware/Hardware/foo.png"
This is no good. MkDocs does have an option for absolute paths, e.g.
"

[2021-05-31 15:36] rusefillc commented on #146
@chuckwagoncomputing close this one or keep open?

[2021-05-31 15:37] rusefillc opened #149 "Write an article on how wiki3 contribution process would look like"
I suspect that I know the answer but we would need a version of documentation workflow for wiki3 at some point

Can we please write this article before we flip any switches?

[2021-05-31 15:38] rusefillc commented on #138
Depends on #149

[2021-05-31 15:40] rusefillc opened #150 "Where shall we host wiki3?"
wiki.rusefi.com is a bit of a cleaner option comparting with rusefi.com/wiki

do we have one single reason NOT to host wiki.rusefi.com on github.io?

[2021-05-31 15:40] rusefillc commented on #150
Required for #138

[2021-05-31 15:41] chuckwagoncomputing commented on #149
How and where should I do this? PR an updated Documentation-Workflow.md?

[2021-05-31 15:46] rusefillc commented on #150
Oh I might be wrong and my hosting just supports sub-domains as simple sub-folders, no problems no drama.

Now switching wiki3 from github.io to rusEFI current hosting

[2021-05-31 15:51] rusefillc commented on #149
Can we copy-paste Documentation-Workflow.md to have a draft at a proper URL while not killing PROD version of the article? and we will replace later?

[2021-05-31 15:52] rusefillc commented on #149
@chuckwagoncomputing https://github.com/rusefi/rusefi/wiki/Draft-of-new-Documentation-Workflow created

[2021-05-31 16:30] rusefillc commented on #150
it works! https://wiki.rusefi.com/

Same as http://rusefi.com/wiki3/

[2021-06-01 15:02] chuckwagoncomputing commented on #146
I'd say close it.

[2021-06-01 15:03] #146 closed

[2021-06-05 00:21] nelsonjchen commented on #138
😅 , my terrible web app hack wasn't meant to be an instance'd thing (https://github-wiki-see.page/). I'm glad you guys are sorting that out though!

[2021-07-07 15:12] rusefillc opened #151 "Case Study: we need a video showing 20 cranking/starting/engine off cycles"
Let's test cranking/starting reliability

[2021-07-07 15:13] rusefillc commented on #151
https://github.com/rusefi/rusefi/wiki/Case-Studies#consecutive-engine-cranking--engine-stop

[2021-07-07 15:15] BeerMoneyMotorsports commented on #151
Commenting to keep track of issue. Logs with each video?

[2021-07-07 15:29] rusefillc commented on #151
For this one the most important thing is to show 100% success rate on the video. Could be one long laptop log just fine

[2021-07-07 15:49] BeerMoneyMotorsports commented on #151
Cold or hot starts?

[2021-07-07 16:12] rusefillc commented on #151
both eventually but warm to begin with?

[2021-07-07 17:17] stefanst commented on #151
Do we need the proof for ourselves? I don't know of any customer actually doubting that if rusEFI can start the engine once it can do it again. And again. And again....

[2021-07-07 17:27] rusefillc commented on #151
I totally doubt myself for sure.

But yes, also proof for future customers and overall as part of documentation.

[2021-07-11 12:20] chuckwagoncomputing opened #152 "/docs should have links"
https://rusefi.com/docs/ should have links to /ibom and /pinouts

[2021-07-11 14:27] rusefillc commented on #152
Done

[2021-07-11 14:27] #152 closed

[2021-07-13 14:54] chuckwagoncomputing commented on #138
I saw another option today that may be worth considering: Docusaurus.
https://github.com/facebook/docusaurus/issues/2725

[2021-07-13 17:28] BeerMoneyMotorsports commented on #103
this should be closed as it was resolved in H64 with full fuel pump control via ecm.

[2021-07-13 17:29] #103 closed

[2021-07-13 18:17] duhafnusa4 commented on #36
This page now has lots of good information. Closing ticket.

[2021-07-13 18:17] #36 closed

[2021-07-13 19:02] duhafnusa4 commented on #40
https://github.com/rusefi/rusefi/wiki/Hardware-microRusEFI is the page for MRE documentation now. Closing ticket.

[2021-07-13 19:02] #40 closed

[2021-07-13 19:06] duhafnusa4 commented on #42
This information is displayed on the sidebar in https://github.com/rusefi/rusefi/wiki.

Has the following:

**Community**
- Forum
- Slack
- Facebook Users Group
- Engines running on rusEFI
- HOWTO-help-rusEFI

[2021-07-13 19:06] #42 closed

[2021-07-13 19:09] duhafnusa4 commented on #74
old rusEFI wiki has these links now

https://github.com/rusefi/rusefi/wiki/Fuel-Overview

https://github.com/rusefi/rusefi/wiki/Cranking

If these are what @stefanst made (or wrote about) I will close the ticket.

tl;dr: @stefanst please let me know if I can close this ticket.

[2021-07-13 19:10] duhafnusa4 commented on #79
diagram added to https://github.com/rusefi/rusefi/wiki/Hardware-microRusEFI

closing ticket.

[2021-07-13 19:10] #79 closed

[2021-07-13 19:11] duhafnusa4 commented on #105
@mck1117 are the values displayed in TS abs?

[2021-07-13 19:14] duhafnusa4 commented on #76
added information to Q and A section of https://github.com/rusefi/rusefi/wiki/HOWTO-quick-start

closing ticket

[2021-07-13 19:14] #76 closed

[2021-07-13 19:17] duhafnusa4 commented on #106
Im not really sure the purpose of this ticket is clear.

Questions:

1) Do we want to add more vehicles to the popular vehicles list in TS
2) How many do we want to have?
3) How is this better than REO?

[2021-07-13 19:19] duhafnusa4 commented on #107
no wiki shows up anymore at all. Is that solution?

People can click and go to rusefi.com and then go to wiki

<img width="689" alt="rusefi" src="https://user-images.githubusercontent.com/5051341/125512133-e3816252-05db-44bb-a87d-66ae6e8da4ef.png">

[2021-07-13 19:26] rusefillc commented on #107
Not solution

What we need is for rusEFI documentation to show up - which is does not at the moment.

@mck1117 any fresh rumours?

[2021-07-13 19:41] duhafnusa4 commented on #109
could we make it a table where "file date" is next to the link that shows when it was uploaded? I know this is manual entry (ie more work) but it at least handles the issue. Whoever does the new file should update that date.

[2021-07-13 19:45] rusefillc commented on #109
i think improvement not the cost

as long as we have link to releases achieve we are as good as possible

[2021-07-13 19:45] #109 closed

[2021-07-13 20:03] duhafnusa4 commented on #110
pages merged https://github.com/rusefi/rusefi/wiki/HOWTO-quick-start

closed ticket.

[2021-07-13 20:04] #110 closed

[2021-07-13 20:07] duhafnusa4 commented on #116
@ksmola are there any left? Can you verify complete? If so please close ticket.

[2021-07-13 20:08] duhafnusa4 commented on #123
@chuckwagoncomputing can you run this again to get the latest list of dead links?

[2021-07-13 20:58] duhafnusa4 commented on #137
I am closing this comment. Wiki has info for ETB and MTB.

[2021-07-13 20:58] #137 closed

[2021-07-13 21:02] duhafnusa4 commented on #135
@blundar this was asked 2 months ago. If not possible please note here so we can have someone else do it. Thanks!

[2021-07-13 21:03] duhafnusa4 commented on #135
@rusefillc I recommend putting "developers needed!" in admins and others forum signature linking to strategy.

[2021-07-13 21:07] duhafnusa4 commented on #134
Q and A added to https://github.com/rusefi/rusefi/wiki/Hardware

Closing ticket

[2021-07-13 21:07] #134 closed

[2021-07-13 21:13] duhafnusa4 commented on #100
Looks like link works properly. @mck1117 can you validate? If so please close.

[2021-07-13 21:14] duhafnusa4 commented on #66
pick and choose 3 good ones from REO?

@duhafnusa4
@mck1117

Who else?

Where do we want to display this information? This ticket and https://github.com/rusefi/rusefi_documentation/issues/151 seem redundant

[2021-07-13 21:19] duhafnusa4 commented on #130
pinouts match and are good. Closing ticket.

[2021-07-13 21:19] #130 closed

[2021-07-13 21:21] duhafnusa4 commented on #39
@rusefillc its been a long time since i logged in. Can you remind me how? I will update after.

[2021-07-13 21:23] duhafnusa4 commented on #59
Looks like these pages handle trigger setup

https://github.com/rusefi/rusefi/wiki/Trigger-Configuration-Guide

https://github.com/rusefi/rusefi/wiki/How-Do-I-Set-My-Trigger-Offset

@rusefillc if you approve I will close ticket

[2021-07-13 21:24] duhafnusa4 commented on #69
@mck1117 I know I am assigned but I have no idea what to do lol

[2021-07-13 21:32] duhafnusa4 commented on #27
We have https://github.com/rusefi/rusefi/wiki/Multi-Spark

Closing ticket

[2021-07-13 21:38] rusefillc commented on #27
is feature list article linking at that page?

[2021-07-13 21:48] duhafnusa4 commented on #27
yes

https://github.com/rusefi/rusefi/wiki

[2021-07-13 21:48] #27 closed

[2021-07-13 21:49] rusefillc commented on #100
@duhafnusa4 you are scaring me here. how is it working property? it's outdated and confusing is not it?

[2021-07-13 21:54] duhafnusa4 opened #154 "Standard for Icons Used"
We need to standardize Icons used for linking to other pages and whatnot.

1) Can I just google and use or will that infringe on creator?
2) Should I create custom Icon pack? - this would be annoying
3) Does anyone have icons we can use?

[2021-07-13 21:58] rusefillc commented on #154
@ksmola is the boss

[2021-07-13 22:00] rusefillc commented on #66
@duhafnusa4 without matching videos we have _nothing_. we have a lot of data piles together but this ticket is about pointing at the diamonds very specifically.

[2021-07-13 22:05] duhafnusa4 commented on #100
I meant the physical link working and not dead

[2021-07-13 22:06] duhafnusa4 commented on #66
Makes sense. You'll have mine in a few weeks. @mck1117 can you make a quick vid of the 240?

[2021-07-13 23:14] chuckwagoncomputing commented on #100
@duhafnusa4 So your opinion is that the "moved to" links in the SF repo are enough, and the repo should not be removed?

[2021-07-13 23:15] duhafnusa4 commented on #100
I don't have an opinion. I just said the link worked. I also just want this ticket to be completed. Can you assist?

[2021-07-13 23:22] rusefillc commented on #66
"few important modes" and "quick vid" are two very different things

the goal is not to just close tickets, right? some things are actually asking for labor.

[2021-07-14 00:18] chuckwagoncomputing commented on #100
As far as I can tell as a relative newcomer, the status quo in this project is that open issues are not of negative value.
I think this ticket only gets closed if the SF repo gets deleted.
My opinion is that it should be deleted, but the situation is slightly better now than it was 6 months ago, as our SEO has somehow improved.

[2021-07-14 00:38] chuckwagoncomputing commented on #123
Looks like the script has some brokenness that I'll need to fix, but yeah.

[2021-07-14 19:13] duhafnusa4 commented on #154
@ksmola can you assist?

[2021-07-16 16:04] rusefillc commented on #135
@duhafnusa4 great idea, done!

![image](https://user-images.githubusercontent.com/48498823/125976514-fc03bb52-deec-435e-a7e1-dd37d2bb9ba7.png)

[2021-07-16 16:04] #135 closed

[2021-07-16 20:46] chuckwagoncomputing commented on #123
Here ya go

[code]

[2021-07-16 21:37] duhafnusa4 commented on #123
Ill work my way through these and lets plan to run the script again in 1 week.

[2021-07-17 23:46] rusefillc opened #156 "upload tune WAT?"
https://github.com/rusefi/rusefi/wiki/HOWTO_upload_tune

https://github.com/rusefi/rusefi/wiki/HOWTO-upload-tune

@duhafnusa4 where did you find https://github.com/rusefi/rusefi/wiki/HOWTO_upload_tune bad link which needs to be fixed?

@chuckwagoncomputing that's still us fixing the global page rename :(

[2021-07-18 00:07] chuckwagoncomputing commented on #156
deleted HOWTO-upload-tune

[2021-07-18 00:57] rusefillc commented on #156
@duhafnusa4 what has started all this? where is the broken link?

[2021-07-22 14:14] duhafnusa4 commented on #39
Map has been updated. We should set how often we want to update the list, and I will add that to my calendar to perform. Then we can close this ticket.

[2021-07-22 14:15] duhafnusa4 commented on #156
Ive spent a lot of time trying to recreate the issue that stemmed from a hellen page but I cannot. For now I will close this ticket, and if I find any dead links I will make a new ticket, instead of making a new page :)

[2021-07-22 14:15] #156 closed

[2021-07-22 14:20] duhafnusa4 commented on #111
Current rusefi.com

![image](https://user-images.githubusercontent.com/5051341/126654862-e20ab755-4f48-4ab6-b86b-29a30497da0f.png)

Current GH wiki

![image](https://user-images.githubusercontent.com/5051341/126654934-1094cb15-0636-4982-877d-e8d1d28975f3.png)

Looks like rusefi.com needs to be updated. I just wanted to post current status of the 2 pages.

[2021-07-22 14:21] duhafnusa4 commented on #116
@ksmola poke.

[2021-07-22 14:22] duhafnusa4 commented on #106
@rusefillc what do you think

[2021-07-22 14:23] duhafnusa4 commented on #105
@mk1117 poke

[2021-07-22 14:25] duhafnusa4 commented on #102
@stefanst can you please comment. Its been 10 months since request.

[2021-07-22 14:32] duhafnusa4 commented on #151
rusEFI running conditions we want to document with video. 15 variations in total. This is daunting but very good data. Datalogs and tune corresponding to each condition is critical.

1) Engine Cold
    a) Starting (how long cranking till engine running)
    b) Idle (is it smooth or jumpy?, does engine stall when AC or PS is being used?)
    c)  In town/traffic driving - small throttle inputs (smoo

[2021-07-22 14:32] duhafnusa4 commented on #66
I understand @rusefillc . This seems inline with

https://github.com/rusefi/rusefi_documentation/issues/151

Is this ticket #66 redundant? ie can we combine #66 and #151?

[2021-07-22 14:33] duhafnusa4 commented on #35
@Timbelom this was assigned to you over a year ago. Please respond if you are able to support. If not ticket will be re-assigned.

[2021-07-22 17:01] mck1117 commented on #105
I'm probably wrong, but I think all pressures displayed are absolute

[2021-07-22 20:40] blundar commented on #105
IMHO, there is no reason for there to be anything other than psia in the
firmware.  If humans whine too loudly, figure out a way to go PSIa to PSIg
in TunerStudio.
-D

On Thu, Jul 22, 2021 at 1:01 PM Matthew Kennedy ***@***.***>
wrote:

[2021-07-22 20:42] mck1117 commented on #105
dave, what's a a pound and what's an inch

[2021-07-22 20:43] blundar commented on #105
Touche.  Kpa / Mpa FTW.
-D

On Thu, Jul 22, 2021 at 4:42 PM Matthew Kennedy ***@***.***>
wrote:

[2021-07-22 20:44] blundar commented on #105
IN RUSSIA, VE USE ZE METRIC SYSTEM

On Thu, Jul 22, 2021 at 4:42 PM Dave B. ***@***.***> wrote:

[2021-07-23 14:31] duhafnusa4 commented on #105
OK.....so whats the consensus here? I would like if someone (cough cough papa A) would declare the choice.

kpa(a) seems the obvious choice...

[2021-09-26 19:44] rusefillc opened #163 "Decide on what DFU tracks we support and why"
rusEFI console still works via legacy DFU driver.

We do not update rusEFI console to "new" driver only due to dev resources shortage.

Are there any reasons to use STM32 program or shall we stop to confuse users?

[2021-09-26 19:45] rusefillc commented on #163
At the moment we clearly document requirement to REMOVE new driver

https://github.com/rusefi/rusefi/wiki/HOWTO-DFU#q-i-have-stm32-bootloader-in-device-manager-and-rusefi-console-does-not-update-firmware-whats-wrong

[2021-09-26 19:55] rusefillc commented on #163
Bill brings the question of Windows VS not-Windows

[2021-09-26 20:01] BeerMoneyMotorsports commented on #163
I only use stmcube for initial wideband firmware install. End users should not need to use it. They should only use auto dfu and then manual dfu in case of emergency.

[2021-09-27 20:41] chuckwagoncomputing opened #164 "1and1 FTP is unreliable"
We keep getting errors like this, which leaves things broken.

[code]

[2021-09-28 02:30] blundar commented on #164
that could be firewall related.

On Mon, Sep 27, 2021 at 4:41 PM David Holdeman ***@***.***>
wrote:

[2021-09-28 20:58] rusefillc commented on #164
We now have https://rusefi.com/docs/pinouts-backup/ one time manual backup

in my opinion we need to push pinout pages into git. those are kind of same thing-ish as .ini files?

also it would be a dream to have a .pdf generated automatically

[2021-10-07 00:05] rusefillc commented on #138
As of today https://github.com/robots.txt does not mention wiki. it looks like this issue is no longer an issue.

We now need to clean-up wiki1 and consider hiding rusefi_documentation

[2021-10-07 00:06] rusefillc commented on #144
@mck1117 say deny it via robots

i like it

[2021-10-07 00:07] mck1117 commented on #144
[code]

[2021-10-07 00:28] rusefillc commented on #107
oh shit

we have the file for a while https://github.com/rusefi/rusefi/blob/master/misc/www/robots.txt

but it was not uploaded to actual www since upload is manual :(

anyway let me also make it multi-line

[2021-10-07 00:30] rusefillc commented on #107
We now have https://rusefi.com/robots.txt

[2021-10-07 00:30] #107 closed

[2021-10-07 00:33] rusefillc commented on #148
Closing FOR NOW since the miracle of #138 has happened?

[2021-10-07 00:38] rusefillc opened #165 "Why do we have rusefi_documentation public"
Q1: does anyone remember if we need rusefi_documentation at all?

Q2: shall we make it private in order to reduce google search results mess?

[2021-10-07 00:39] rusefillc opened #166 "We shall kill most of explicit rusefi_documentation links"
We have at least 6 explicit usages of rusefi_documentation which seem like a mistake?

![image](https://user-images.githubusercontent.com/48498823/136302512-c9ff009f-3636-4b71-b754-e5995a89986b.png)

[2021-10-07 00:39] rusefillc commented on #166
@BeerMoneyMotorsports @chuckwagoncomputing @blundar can you edit those pages not to reference
rusefi_documentation/raw?

[2021-10-07 00:39] rusefillc commented on #165
Depends on #166

[2021-10-07 01:02] rusefillc opened #167 "PROBLEM STATEMENT: wiki2-human https://github.com/rusefi/rusefi/wiki is ugly"
As of October 6, 2021 https://github.com/rusefi/rusefi/wiki "wiki2-human" is the primary location of rusEFI knowledge.

As is https://github.com/rusefi/rusefi/wiki is definitely ugly.

We were thinking to move https://github.com/rusefi/rusefi/wiki to wiki.rusefi.com (known as "wiki3") because of indexing issue #138 that's no longer an issue. Yet open question if we would have to move https://githu

[2021-10-07 01:03] rusefillc opened #168 "Biggest wiki issue is content"
RE wiki content is not great

This could be a consequence of unclear rusEFI strategy.

[2021-10-09 16:24] rusefillc commented on #165
@chuckwagoncomputing I've just made https://github.com/rusefi/rusefi_documentation/ public again because of

[code]

![image](https://user-images.githubusercontent.com/48498823/136666470-6eaf8661-4410-4edd-8761-b4cec08b1c25.png)

[2021-10-14 00:36] rusefillc opened #170 "Move pinouts to pages.rusefi.com"
http://pages.rusefi.com is https://github.com/rusefi/rusefi.github.io

We shall move pinouts to pages.rusefi.com/pinouts

[2021-10-14 01:09] chuckwagoncomputing commented on #164
OK, so using the primary account would mean putting the authentication details or a private key in GH Secrets. Preferably a private key used only for this.

[2021-10-14 01:39] rusefillc commented on #170
@chuckwagoncomputing we now have https://pages.rusefi.com/pinouts/

See https://github.com/rusefi/rusefi/tree/master/misc/actions

[2021-10-14 02:20] rusefillc opened #171 "Need help invoking mk"
I would like to have my local debian device to execute mkdocs process

https://github.com/rusefi/rusefi_documentation/blob/master/bin/mkdocs-install.sh
but fail to run
https://github.com/rusefi/rusefi_documentation/blob/master/bin/mkdocs-run.sh

[2021-10-14 02:28] rusefillc commented on #171
my bad
install is half-happy but that's not the problem

![image](https://user-images.githubusercontent.com/48498823/137240287-34683eef-6606-413a-a30f-a014e619b424.png)

[2021-10-14 02:29] rusefillc commented on #171
OMG it has worked

looks like drama was about adding stuff into path? i did not refresh context/did not re-login before thus tool was not found

![image](https://user-images.githubusercontent.com/48498823/137240391-4d258ef0-f0a5-4a94-acee-b729918cad72.png)

[2021-10-14 02:29] #171 closed

[2021-10-14 02:30] rusefillc opened #172 "mkdocs warnings"
how legit are those?

[code]

[2021-10-14 02:47] rusefillc commented on #172
Some are legit - some were just improved

[2021-10-14 02:50] rusefillc opened #173 "[MOST IMPORTANT ISSUE] We need sidebar"
GH wiki has custom sidebar with curated content

can we get same on https://rusefi.com/docs/wiki/Home/ ?

[2021-10-18 20:48] rusefillc commented on #173
@chuckwagoncomputing I do not understand what is TOS where :( Table of contents? do you mean

![image](https://user-images.githubusercontent.com/48498823/137804477-d718514f-f063-40c4-81ae-de7fdc2caf58.png)

if you mean above than yes, that's not good in current form - it shows a lot of not important pages. BMW 1100 should not be on top of the https://rusefi.com/docs/wiki/Home/

[2021-10-19 00:47] rusefillc commented on #173
@chuckwagoncomputing I am very excited that you are available to help

but in my opinion there is a chance of a miscommunication here :( i am not sure why having all pages indexed is beneficial. in my opinion we need a fully user-defined table of content / sidebar, with only important information visible

Do you know a way to have important links visible on the main URL and not have not important

[2021-10-19 01:13] chuckwagoncomputing commented on #173
Yup gotcha. I think we're on the same page now.

[2021-10-19 01:18] chuckwagoncomputing commented on #148
It does look like this is changed/fixed. Closing.

[2021-10-19 01:25] rusefillc commented on #170
To be honest I am not sure what's the proper way forward.

I was operating under the wrong? correct? assumption that FTP was hopeless and removal of 1and1 from the flow looked like the only way forward

now that we hope to address the FTP drama by using SFTP maybe we would not need pages?

[2021-10-19 01:35] chuckwagoncomputing commented on #164
I'm not sure how you've had FTP set up, but typically FTP is scoped to a specific directory, and the rest of the file system is inaccessible. With SSH, if you don't `cd` somewhere, files will by go in the home directory. Have you confirmed that the files were indeed updated on the server?

[2021-10-19 01:44] rusefillc commented on #164
I cannot explain it but yes looks like files are updating

![image](https://user-images.githubusercontent.com/48498823/137830018-bf59781e-ba24-4af6-a182-bd40f7200f88.png)

[2021-10-19 01:45] chuckwagoncomputing commented on #165
FWIW, having rusefi_documentation makes contributing to documentation via PR possible for people who aren't part of the documentation group.

[2021-10-19 01:55] rusefillc commented on #165
@chuckwagoncomputing huh? I believe that _anyone_ can edit rusEFI wiki, at least the text part?

I am not sure how can people upload images via www to be honest.

[2021-10-19 01:56] rusefillc commented on #164
https://rusefi.com/build_server/autoupdate/

[2021-10-19 01:56] rusefillc commented on #164
and https://rusefi.com/build_server/

[2021-10-19 02:13] rusefillc commented on #165
![image](https://user-images.githubusercontent.com/48498823/137832379-58cbf700-7fcc-4bea-90b4-8b5ce01427fc.png)

not member of https://github.com/orgs/rusefi/teams/doc-team/members

[2021-10-19 02:15] rusefillc commented on #165
so we have two questions

Q1: why do we need rusefi_documentation NOW, "before" wiki3

Q2: would rusefi_documentation be used for wiki3? technically we can have http://github.com/rusefi/rusefi/wiki be the source for wiki3 generation. I am not proposing I am only saying that I do not understand what is the best/only way for future workflow

[2021-10-19 02:42] chuckwagoncomputing commented on #165
Re: Q2:
I don't think you can add images in the Github Wiki interface, but I'm not positive about that.

[2021-10-21 14:53] rusefillc commented on #164
broken again :( https://rusefi.com/docs/pinouts/proteus/

[2021-10-28 22:10] OrchardPerformance opened #175 "List of TunerStudio (TS) tips that need updating tooltips"
Base engine settings:
Number of cylinder
Displacement
Firing order
Vehicle weight
Forced induction?
Fuel strategy - mention MAF
Debug mode - Needs to offer description of what debug modes do

Limits and Fallbacks:
cut fuel on rpm limit
cut spark on rpm limit
rpm hard limit rpm
Soft limiter range - needs to be clearer that it is the RPM gap from starting the limiter to full limiter and not a limite

[2021-10-30 13:00] OrchardPerformance commented on #175
Just going to start updating them, there are more that are missing or need updating than are ok.
Listing them all is going to take longer than simply getting on with it.

If there are critical ones to update just list them here.
@BeerMoneyMotorsports if you want to see how the tool tips work let me know.

[2021-10-30 16:34] rusefillc opened #176 "Split firmware from classic hardware"
At the moment https://github.com/rusefi/rusefi has amazing firmware and pretty legacy hardware.

Primary problem is stale HW next to active FW
Repo size is secondary much less important problem

Theoretically that could be sending a wrong signal.

it also contributes to cloned copy 2Gb size which could be a non-issue

[2021-10-30 16:36] rusefillc commented on #176
Kind of related to https://github.com/rusefi/rusefi/issues/3433

[2021-10-30 17:40] OrchardPerformance commented on #176
Split hardware and firmware repository into one specific for each?
If so, 100% agree with that idea

[2021-10-30 18:18] rusefillc commented on #176
@OrchardPerformance at this point I am not sure how we would implement the split. there is a lot of GIT magic details

[2021-10-30 18:22] rusefillc commented on #176
option 1:  new https://github.com/rusefi/rusefi repo, bad option because history loss

* rename https://github.com/rusefi/rusefi to https://github.com/rusefi/rusefi-hardware
* copy master of https://github.com/rusefi/rusefi without hardware into
* delete firmware from https://github.com/rusefi/rusefi-hardware

option 2: move hardware content to new repo
* copy-paste https://github.com/rusefi/rusef

[2021-10-30 19:07] BeerMoneyMotorsports commented on #175
Sounds good. When writing them, please make them so someone like me can understand them. 🙂

[2021-10-31 20:05] OrchardPerformance commented on #176
I like option 2, but I am an idiot.

I think the history showing there used to be hardware but now it has moved and there is newer hardware is fine.

[2021-11-01 03:45] rusefillc commented on #176
a bunch of hardware (but not all) moved to https://github.com/rusefi/rusefi-hardware/tree/main/classic-designs

[2021-11-01 03:45] #176 closed

[2021-11-01 03:46] rusefillc commented on #164
Switching from FTP to SFTP has resolved this issue

[2021-11-01 03:46] #164 closed

[2021-11-02 15:35] duhafnusa4 opened #177 "TS Online Tuning links to empty page"
on https://github.com/rusefi/rusefi/wiki/ the linked "TunerStudio online tuning" takes you to

https://github.com/rusefi/rusefi/wiki/wiki

which shows "create a new page"

[2021-11-02 15:37] duhafnusa4 commented on #177
launch control does the same thing

[2021-11-02 15:37] duhafnusa4 commented on #177
Acceleration enrichment - wall wetting/fuel trip/tau factor does the same thing

[2021-11-02 15:37] duhafnusa4 commented on #177
Digital Dash does the same thing

[2021-11-02 15:40] duhafnusa4 commented on #177
https://github.com/rusefi/rusefi/wiki/ is big broken @rusefillc

[2021-11-02 16:34] BeerMoneyMotorsports commented on #177
"tuner studio online tuning" takes me to https://github.com/rusefi/rusefi/wiki/HOWTO-create-tunerstudio-project which needs to be updated and improved.

[2021-11-02 17:10] rusefillc commented on #177
This seems related to https://github.com/rusefi/rusefi_documentation/pull/147 and https://github.com/rusefi/rusefi_documentation/issues/146

@chuckwagoncomputing do you understand root cause of drama? as is I do not understand why

[code]
becomes

https://github.com/rusefi/rusefi/wiki/wiki/HOWTO-create-tunerstudio-project

(with double "wiki")

[2021-11-02 17:19] chuckwagoncomputing commented on #177
The only ones that aren't broken on the home page are the ones that are hard-linked, which is bad and will need to be fixed when/if we move to wiki3.
As to the cause I have no idea, but it sure looks like a Github bug.

[2021-11-02 17:40] rusefillc commented on #177
@chuckwagoncomputing any idea where do we report/inquire about that one?

[2021-11-02 20:09] chuckwagoncomputing commented on #177
I edited the page but didn't actually change anything and it seems to have re-generated properly.

[2021-11-02 20:11] chuckwagoncomputing commented on #177
Wait I take that back. After editing it took me to https://github.com/rusefi/rusefi/wiki , which works. https://github.com/rusefi/rusefi/wiki/ does not work. (note the trailing slash)

[2021-11-02 20:17] rusefillc commented on #177
We need to ket GH know either way?

[2021-11-02 21:00] chuckwagoncomputing commented on #177
Not really, that's just how links work. The real problem is that we have a link with a trailing slash somewhere.

[2021-11-02 21:03] chuckwagoncomputing commented on #177
No I take that back. The links don't need the preceding "wiki/" to work.

[2021-11-02 21:07] chuckwagoncomputing commented on #177
https://github.com/github/feedback/discussions/7157

[2021-11-10 04:03] BeerMoneyMotorsports opened #178 "Hellen wiki standard format"
Hellen wikis should have a standard format. Hellen 64 suitable?

https://github.com/rusefi/rusefi/wiki/Hellen64-Miata-NA6-94

[2021-11-10 13:15] rusefillc commented on #178
https://github.com/rusefi/rusefi/wiki/Hellen64-Miata-NA6-94 is not as compact as https://github.com/rusefi/rusefi/wiki/Hellen-128-Mercedes

two lines for download links instead of one
does not have versions for revisions

in my opinion in some (definitely not all) regards https://github.com/rusefi/rusefi/wiki/Hellen-128-Mercedes is better

[2021-11-10 13:16] rusefillc commented on #178
just realized that https://github.com/rusefi/rusefi/wiki/Hellen64-Miata-NA6-94 has cool idea of schematics next to pictures I like it!

maybe ibom links should follow suit?

[2021-11-10 22:13] duhafnusa4 opened #179 "Link to Trigger Wheel dead on Cranking page"
on https://github.com/rusefi/rusefi/wiki/Cranking the linked "trigger wheel" is supposed to take you here:

https://github.com/rusefi/rusefi/wiki/Trigger_Wheels

But it takes you to new page creation.

tl;dr: trigger wheels link on cranking page is dead

[2021-11-10 22:14] duhafnusa4 commented on #179
"Running fuel tables" link: https://github.com/rusefi/rusefi/wiki/Running

is also dead

[2021-11-10 23:32] #179 closed

[2021-11-14 21:19] rusefillc opened #181 "revive 169 in a compatible way"
https://github.com/rusefi/rusefi_documentation/pull/169 was replacing one workflow with another

but can we ADD new workflow instead of REPLACING while having wiki3 secret and unofficial?

[2021-11-14 21:36] #181 closed

[2021-11-15 18:03] chuckwagoncomputing commented on #173
Here we go:
![image](https://user-images.githubusercontent.com/1531127/141831484-fadec60f-b31c-4a65-b848-87d1801badba.png)
A sitemap.xml is also generated now, so pages that don't have a link to them should still be indexed.
https://rusefi.com/docs/wiki/sitemap.xml

[2021-11-15 18:03] #173 closed

[2021-11-16 00:06] #163 closed

[2021-11-16 00:06] rusefillc opened #184 "Home in wiki3 URL"
At the moment it's https://rusefi.com/docs/wiki/Home/

We need this to work as

https://rusefi.com/docs/wiki
https://rusefi.com/docs/wiki/

[2021-11-16 00:08] rusefillc commented on #184
@chuckwagoncomputing I've attempted
[code]
and
[code]

both do not seem to change anything :(

[2021-11-16 00:09] rusefillc commented on #184
that's at /docs/wiki/.htaccess

[2021-11-16 02:07] chuckwagoncomputing commented on #184
Oh I think rules apply relative to the .htaccess file location. Try:
[code]

[2021-11-16 02:10] rusefillc commented on #184
with
[code]
same nothing
https://rusefi.com/docs/wiki/

[2021-11-16 05:07] #184 closed

[2021-11-16 05:07] rusefillc opened #185 "fix http wiki redirect"
http://wiki.rusefi.com/ should work as intended

[2021-11-16 05:08] rusefillc commented on #185
that's about https://github.com/rusefi/rusefi/blob/master/misc/www/.htaccess

[2021-11-16 05:12] rusefillc commented on #185
http://rusefi.com/ still works

[2021-11-16 05:12] #185 closed

[2021-11-16 05:22] rusefillc opened #186 "syntax differences or else?"
why are download links so broken at https://wiki.rusefi.com/Hardware/Proteus/Proteus-Manual/

![image](https://user-images.githubusercontent.com/48498823/141925782-cef5c34e-fc21-4b9d-94a6-376cb35b121c.png)

![image](https://user-images.githubusercontent.com/48498823/141925726-7e732e65-f168-4f91-a41c-c38c11b0a9ad.png)

[2021-11-16 13:00] chuckwagoncomputing commented on #186
Wierd syntax fixed:
https://github.com/rusefi/rusefi_documentation/commit/1b90d48c4886c326f246e5ea3e70dcb2c6c92a72

[2021-11-16 15:45] rusefillc commented on #186
I've used [[ x ]] on many Hellen landing pages see https://wiki.rusefi.com/Hellen-154-Hyundai/ and other pages linked from https://wiki.rusefi.com/Hellen-One-Platform/ I will need to revist

[2021-11-16 15:46] rusefillc opened #187 "Another incompatibility - image as link?"
https://wiki.rusefi.com/Hellen-One-Platform/ vs https://github.com/rusefi/rusefi/wiki/Hellen-One-Platform in terms of eBay image link

[2021-11-17 14:04] rusefillc opened #188 "mkdocs: auto-detect URLs on wiki3"
https://github.com/rusefi/rusefi/wiki/Release-Process renders links as links

https://wiki.rusefi.com/Release-Process/ does not :(

is this something we can improve globally or would I have to use full syntax?

[2021-11-17 14:07] rusefillc commented on #188
is this something https://github.com/orbikm/mkdocs-ezlinks-plugin is supposed to be helping with?

[2021-11-17 15:30] #186 closed

[2021-11-28 00:18] rusefillc opened #189 "guide robots away from https://rusefi.com/docs/wiki/Home/"
robots should enjoy https://wiki.rusefi.com/ not https://rusefi.com/docs/wiki/Home/

https://www.google.com/search?q=You+have+found+the+rusEFI+wiki+main+page

![image](https://user-images.githubusercontent.com/48498823/143724192-bd7603ec-a353-4f97-99be-19a824fa8b8b.png)

[2021-11-30 03:09] rusefillc opened #190 "sitemap issues"
We have
https://wiki.rusefi.com/sitemap.xml https://rusefi.com/docs/wiki/sitemap.xml

At the moment it has broken and invalid
https://rusefi.com/docs/wiki/Home/2004-Cayenne/

Should be
https://wiki.rusefi.com/2004-Cayenne/

[2021-11-30 03:11] rusefillc commented on #189
https://rusefi.com/robots.txt updated with new disallow

open question what's best way to mention https://wiki.rusefi.com/

@mck1117 @chuckwagoncomputing any ideas?

[2021-11-30 03:14] rusefillc commented on #190
Attempted a change now open Q if that would work

[2021-11-30 05:28] rusefillc commented on #190
OMG it worked!

[2021-11-30 05:28] #190 closed

[2021-12-05 16:41] BeerMoneyMotorsports opened #191 "add CAN wideband instructions"
i need to add instructions on the Hellen wikis for CAN wideband.  If running AEM via CAN, it will conflict with onboard wbo.  Setting index to 1 for RE wbo fixes it.  This plus instructions for connection are needed.

[2021-12-09 04:33] rusefillc commented on #189
has been 9 days since robots.txt update

https://www.google.com/search?q=You+have+found+the+rusEFI+wiki+main+page still goes not where I want it to go, and does not go where I want it to go

@chuckwagoncomputing @mck1117 any ideas?

[2021-12-09 15:49] OrchardPerformance opened #192 "Auto generate single document of TS names and tip/hint text."
Had a thought to improve our documentation with minimum effort.

Can we use the same process that generates the rusefi.ini to create a .txt document that contains just the names of all the options in TS and its associated tip/hint text.

Thinking this is an automatically updated master list of all fields and their function for quick reference.

[2021-12-09 22:43] rusefillc commented on #192
@mck1117 what's your take on this overall?

Did you say you have a new approach to code generation in the works?

[2021-12-09 22:47] mck1117 commented on #192
you mean like the `SettingContextHelp` section?

![image](https://user-images.githubusercontent.com/568254/145487770-c7e41b6a-3422-45fd-b007-0137cf312ec2.png)

[2021-12-12 01:32] BeerMoneyMotorsports opened #193 "tCharge TS notes"
We are missing info on what the tcharge settings do.  I have no clue how to start tuning this area at all.

![image](https://user-images.githubusercontent.com/82395131/145697110-69b7cb9d-16a0-4c96-8c70-0b799bb4554a.png)

[2022-01-07 23:17] BeerMoneyMotorsports commented on #193
notes have been updated in TS

[2022-01-07 23:17] #193 closed

[2022-01-08 21:26] BeerMoneyMotorsports opened #194 "Joint RE, BMM, H1 ecu logo"
I tried and failed to make a good looking combined logo.  @duhafnusa4 kindly offered to step in an help.
![RE_BMM_H1_logo](https://user-images.githubusercontent.com/82395131/148660501-05f3e1bd-e0a5-4388-844b-57bf818db18a.png)

[2022-01-08 21:39] duhafnusa4 commented on #194
I'll work on it this week and have designs ready to review Wednesday

[2022-01-13 18:01] chuckwagoncomputing commented on #189
Why not redirect https://rusefi.com/docs/wiki/Home/ to https://wiki.rusefi.com/Home/?

[2022-01-13 18:36] rusefillc commented on #189
@chuckwagoncomputing I love this proposal but I have no idea how to implement. Here's the current pretty confusing setup:

1)
subdomain points into sub-folder of primary domain
![image](https://user-images.githubusercontent.com/48498823/149388818-47f0cc7d-cc6c-4ce6-b8a3-cc186d755d67.png)

2) in order for https://wiki.rusefi.com/ to work without requiring "home" there is already a RewriteRule which

[2022-01-14 17:08] BeerMoneyMotorsports commented on #194
@duhafnusa4 Wednesday was two days ago........tsk tsk

[2022-01-14 17:12] duhafnusa4 commented on #194
Yeah because marks designer said he was doing it? If not I'll get it done today

[2022-01-14 18:16] duhafnusa4 commented on #194
What do you think about this? This is a draft obviously, but is this the direction you want to go?

![image](https://user-images.githubusercontent.com/5051341/149565062-c9ae1f07-c4a0-4023-a608-169355cd55c8.png)

[2022-01-14 18:38] BeerMoneyMotorsports commented on #194
That has some potential i think.  Im not sure if @rusefillc or @andreika-git want to give any input?

I want to make sure people BMM with rusEFI.  I get a lot of "im interested in the bmm ecu" and id like it to be "im interested in the RE ecu you distribute".

[2022-01-14 21:55] rusefillc commented on #194
I am very flexible, more or less anything works for me.

My personal take - are we sure we should be piling up logos on top of each other? What's the problem statement?
Would small "runs rusEFI firmware" on the unit and Hellen logo on the PCB solve the problem without logo on top of logo?

[2022-01-14 23:12] chuckwagoncomputing commented on #189
1. I'm not sure how this works internally but I think that's fine.
2. I'm not sure this is doing what you think it's doing. https://rusefi.com/docs/wiki/ redirects to https://rusefi.com/Home, which is a 404. The 404 page is set to the old wiki 404 page.

I suggest replacing those RewriteRules with a redirect to wiki.rusefi.com for starters, and see if that behaves properly.
Do you have access to t

[2022-01-15 01:21] rusefillc commented on #189
Sounds like it's time to make amazing progress here!

step 1 - DONE - https://github.com/rusefi/rusefi/issues/3790
step 2 - to answer your question main .htaccess is https://github.com/rusefi/web_backend/blob/master/www/.htaccess and by extension wiki.rusefi.com file is https://github.com/rusefi/web_backend/blob/master/www/docs/wiki/.htaccess
fun fact 1 - sync is still manual. Ticket created to au

[2022-01-15 22:47] rusefillc opened #195 "Hellen Mercedes landing page is very sad"
We have boards with https://rusefi.com/s/hellen128merc short URL and QR code

At the moment https://rusefi.com/s/hellen128merc is a redirect to github wiki and that github wiki page is horrible in my opinion

open question if Hellen Mercedes landing page should be github wiki or any wiki for that matter it's not like https://wiki.rusefi.com/Hellen-128-Mercedes/ is much better. Well, https://wiki.r

[2022-01-15 22:47] rusefillc commented on #195
@ksmola @shadowm60 opinions?

@BeerMoneyMotorsports has some experience with hellen landing pages

[2022-01-16 18:52] rusefillc opened #196 "pinout feature request: LINK"
https://rusefi.com/docs/pinouts/hellen/alphax-2chan/ is amazing and I love it!

Often when I have tabs with stuff like https://rusefi.com/docs/pinouts/hellen/alphax-2chan/ open I want to click to other relevant pages mostly board main landing page.

Asking for a configurable URL on the bottom of the page or somewhere

[2022-01-17 18:06] BeerMoneyMotorsports commented on #194
Lets drop the hellen logo because it is on the PCB.

For the rusEFI, can we say Powered by rusEFI maybe?  maybe off the the left of the mug?

[2022-01-19 01:23] rusefillc commented on #196
Thank you David!!!

[2022-01-19 01:23] #196 closed

[2022-01-20 16:28] rusefillc opened #197 "wiki clean-up for Mercedes content"
We have a bunch of random OEM Merc schematics very poorly structured on the wiki

At the moment we mostly care about stuff related to 128 hellen - shall structure pages better?

[2022-01-20 17:49] shadowm60 commented on #197
I have started this locally, progress is slow but i am on it.

[2022-01-20 17:58] abelom commented on #197
@shadowm60 what is the URL for _your_ _exact_ schematics on rusEFI wiki? :)

[2022-01-21 01:56] rusefillc commented on #189
fun fact 3 status update: All www files were backed up

between https://github.com/rusefi/web_backend/issues/146 and @chuckwagoncomputing having write access David do you want to play with .htaccess files?

[2022-01-21 15:33] rusefillc commented on #197
@shadowm60 yes need your vehicle schematics and need some easy to navigate way to it

[2022-01-21 18:54] rusefillc commented on #197
@shadowm60 question about

https://github.com/rusefi/rusefi/wiki/Vault-Of-Mercedes-OEM#m111---i4

new link caption is "OEM Wiring harness" which implies that it's for universal OEM Wiring harness for ANY M111

I believe that's not the case? shall we add some important details into "OEM Wiring harness" text like year? mention EUDM maybe?

[2022-01-22 19:31] rusefillc opened #200 "Some search results links are broken"
open https://wiki.rusefi.com/
search for "ETB Error"

One of search results is https://wiki.rusefi.com/Vaults/Vault_Smart_ECU/#fatal-errors

which does not seem to render well for me

![image](https://user-images.githubusercontent.com/48498823/150652962-c941219b-85cf-4d15-8f0b-7b3ed09060f5.png)

[2022-01-22 19:56] chuckwagoncomputing commented on #189
Done!

[2022-01-22 19:56] #189 closed

[2022-01-22 19:57] chuckwagoncomputing commented on #200
Fixed with https://github.com/rusefi/web_backend/commit/04dda25a23a219e0e955384526d2d74740db6265

[2022-01-22 19:57] #200 closed

[2022-01-22 19:57] chuckwagoncomputing commented on #145
This is fixed now!

[2022-01-22 19:57] #145 closed

[2022-01-22 20:00] chuckwagoncomputing commented on #188
No I don't think so. I suppose we could manually change them all to the correct URL format, as that would be backwards compatible with Github wiki. Maybe I'll write a script to do that.

[2022-01-22 20:09] rusefillc opened #201 "What's our goal with google search results?"
At the moment https://www.google.com/search?q=HOWTO+M73+v12+on+Proteus returns https://rusefi.com/docs/wiki/HOWTO/HOWTO-M73-v12-on-Proteus/ which properly redirects to https://wiki.rusefi.com/HOWTO/HOWTO-M73-v12-on-Proteus/

Do we expect this to change say in a week or two?

[2022-01-22 20:48] rusefillc commented on #201
See #189

[2022-01-22 23:54] #187 closed

[2022-01-23 01:41] rusefillc opened #203 "Is new wiki ready for prime time?"
Are there any reason NOT to switch rusefi.com main page links to new wiki?

for instance https://wiki.rusefi.com/Technical/All-Supported-Triggers/ instead of https://github.com/rusefi/rusefi/wiki/All-Supported-Triggers etc etc

[2022-01-23 19:07] chuckwagoncomputing commented on #201
Yes this should change.

[2022-01-23 19:09] chuckwagoncomputing commented on #203
In my mind #188 is a pretty big issue.

[2022-01-25 02:49] chuckwagoncomputing commented on #203
Also, lots of pages are missing titles at the top, which is where MkDocs gets its page names.
e.g. https://wiki.rusefi.com/Vaults/Vault-Of-Honda-OEM/ is called "OBD-1" in the search results.

[2022-01-25 02:50] chuckwagoncomputing commented on #188
Massive effort ongoing: https://github.com/chuckwagoncomputing/rusefi_documentation/tree/linkify

[2022-01-25 03:12] rusefillc commented on #203
Sounds like we need to start documenting wiki conventions which are consequences of mkdocs

Just a quick checklist

Realistically we might need automation to validate or even implement "first line of file matches file name" for instance

[2022-01-25 13:32] chuckwagoncomputing commented on #203
Pages that need to be updated to reflect wiki3:
Build-Server-and-Automation.md
Documentation-Strategy.md
Documentation-Workflow.md
HOWTO/HOWTO-contribute-to-documentation.md

[2022-01-26 00:38] chuckwagoncomputing commented on #203
#205 When we're ready

[2022-01-27 15:06] rusefillc commented on #175
@BeerMoneyMotorsports @OrchardPerformance what kind of progress do we plan in the next 14 days?

in my opinion we either act or close this ticket and officially give up. this ticket does not look like something to sit open for six months right?

[2022-02-01 21:45] BeerMoneyMotorsports commented on #194
@duhafnusa4 maybe something like this?  In RE font?
![2F15792A-EB89-4A82-853A-B9F530971185](https://user-images.githubusercontent.com/82395131/152056507-509b2afb-b561-45fc-8d88-ffe1b3c14428.jpeg)
![B06FADAE-04AA-4523-A782-15D107D9F41C](https://user-images.githubusercontent.com/82395131/152056515-47971df5-8536-4511-a1f0-a9b869210389.jpeg)

[2022-02-01 23:31] duhafnusa4 commented on #194
something like this?

![image](https://user-images.githubusercontent.com/5051341/152069022-b7524856-b909-451a-bdb2-932dcb330535.png)

[2022-02-01 23:34] duhafnusa4 commented on #194
![image](https://user-images.githubusercontent.com/5051341/152069321-23ef84c5-d99e-4412-8b89-f4814ebef332.png)

[2022-02-03 17:27] rusefillc commented on #194
too much is going on the log in my opinion. i would just have "powered by rusefi" with just black with same font just smaller type

beer money orange with border is readable with my eyes

"powered" orange with black shade is annoying my eyes specifically your eyes might vary

[2022-02-03 19:44] rusefillc commented on #201
Not yet.

[2022-02-03 20:08] duhafnusa4 commented on #194
So what do you think, just black? What Font did you use for your stuff @BeerMoneyMotorsports ?

[2022-02-03 20:22] BeerMoneyMotorsports commented on #194
Invert the powered colors. Unfortunately i do not know the font.

[2022-02-05 19:39] chuckwagoncomputing opened #207 "Some rusefi.com/s links are out of date"
#  OKish?

!https://rusefi.com/s/trigger
https://rusefi.com/s/lua

# improved
https://rusefi.com/s/vvt
https://rusefi.com/s/debugmode
https://rusefi.com/s/fuel
https://rusefi.com/s/etb
https://rusefi.com/s/tpstps

Some of these link to Wiki1 pages, some link to Wiki2 pages, and some link to Wiki2 pages that don't exist.

[2022-02-05 19:48] chuckwagoncomputing commented on #201
Maybe you should [request a recrawl](https://developers.google.com/search/docs/advanced/crawling/ask-google-to-recrawl)
You could submit the sitemap which is at https://wiki.rusefi.com/sitemap.xml
Also see the Index Status report and URL Inspection tool linked from that Google document.

[2022-02-05 23:23] rusefillc commented on #207
We have an issue with https://github.com/rusefi/web_backend/issues/146?

[2022-02-06 00:40] chuckwagoncomputing commented on #207
Why not point to wiki3?

[2022-02-06 01:34] rusefillc commented on #207
I am happy to use wiki3, just a bit lost if we are using wiki3 or not yet

[2022-02-06 14:37] chuckwagoncomputing commented on #188
I think all of these are fixed. The title of this issue is "auto-detect URLs", which as far as I can tell isn't possible currently. I suppose it would be possible to write a MkDocs plugin that would do that, but I think it's better to manually make URLs links, and give them a proper title.

[2022-02-09 19:18] rusefillc opened #208 "wiki edit has to be restricted"
We had a questionable wiki contribution similar to https://github.com/lettuce-io/lettuce-core/wiki/_compare/73fbdb351f12f14b60adb223ef47abb193b131df...9c6b97cb8d4fbae0a4bce60c9e39641c448c3db2

direct wiki edits are now restricted

Everyone on https://github.com/orgs/rusefi/teams/doc-team should be able to edit https://github.com/rusefi/rusefi_documentation technical wiki right from the browser

[2022-02-09 19:23] rusefillc commented on #208
https://github.com/github/feedback/discussions/10376

[2022-02-19 22:38] chuckwagoncomputing commented on #203
What are we waiting on at this point?

[2022-02-19 22:42] chuckwagoncomputing commented on #149
This is part of #205

[2022-02-19 22:42] #149 closed

[2022-02-19 22:45] chuckwagoncomputing commented on #39
For some reason I'm not showing up on the map in the first message on the forum. I checked a few other people who joined recently and they're missing too.

[2022-02-19 22:49] chuckwagoncomputing commented on #201
Looks like it's showing up on DuckDuckGo, but not on Google. @rusefillc have you done anything from my last comment yet?

[2022-02-19 23:51] rusefillc commented on #201
![image](https://user-images.githubusercontent.com/48498823/154822993-d771b955-52e1-4fed-aa8b-6ad92263534e.png)

[2022-02-19 23:51] rusefillc commented on #201
I was planning to request the recrawl and totally forgot to do so. Doing it now because it's totally the right thing to do.

[2022-02-19 23:53] rusefillc commented on #201
![image](https://user-images.githubusercontent.com/48498823/154823046-1a36944c-713e-4d36-9943-5c2c59384c06.png)

[2022-02-19 23:56] rusefillc commented on #201
![image](https://user-images.githubusercontent.com/48498823/154823113-9b364291-3f26-410e-b95d-a8516ea51053.png)

[2022-02-19 23:56] rusefillc commented on #201
Note "Dec 31, 2021" not sure if that's the global "Last crawled"

[2022-02-19 23:58] rusefillc commented on #201
![image](https://user-images.githubusercontent.com/48498823/154823151-c5f03933-955a-467e-84d6-d6c5afa4a877.png)

![image](https://user-images.githubusercontent.com/48498823/154823163-5b87bbe4-782a-4cd9-a383-e3132da6a058.png)

[2022-02-20 00:04] rusefillc opened #209 "Basically I don't understand where I'd put crank sensor, VSS, TPS, MAP, and Cam position sensor."
Here's a signal

![image](https://user-images.githubusercontent.com/48498823/154823295-45852877-aca7-4630-9f49-790dcebc72af.png)

![image](https://user-images.githubusercontent.com/48498823/154823302-58dd3f01-2574-4fc0-810a-137b67d35825.png)

[2022-02-20 00:11] chuckwagoncomputing commented on #209
FWIW the pinout page has pins labeled with TPS and MAP in the function field. He appears to be looking at the Proteus 0.2 Wiring wiki page.

[2022-02-20 00:13] rusefillc commented on #209
![image](https://user-images.githubusercontent.com/48498823/154823469-cfd8bf8e-0c97-449a-a039-422be2b48dc1.png)

[2022-02-20 00:26] chuckwagoncomputing commented on #201
Looks good. I guess we wait a few days/weeks and see if it shows up.

[2022-02-20 00:31] rusefillc opened #210 "What's the plan for wiki2-human https://github.com/rusefi/rusefi/wiki"
Once we move to https://wiki.rusefi.com/ do we want to remove or adjust https://github.com/rusefi/rusefi/wiki in order to reduce potential confusion between https://github.com/rusefi/rusefi/wiki and https://wiki.rusefi.com/?

to some expend that depends on if we can easily support both or not

[2022-02-20 00:31] rusefillc commented on #203
@chuckwagoncomputing I do not know :( I am ready when you are ready, I think we've done enough just to start switching.

https://github.com/rusefi/rusefi_documentation/issues/208 was the last nail in https://github.com/rusefi/rusefi/wiki value now that we've lost in-place edits https://wiki.rusefi.com/ is clearly in the lead

See also https://github.com/rusefi/rusefi_documentation/issues/210

[2022-02-28 16:35] BeerMoneyMotorsports commented on #194
@duhafnusa4 Lets try the Powered line with current colors inverted and also just black.  Font can remain the same as i do not know what font was originally used.

[2022-02-28 16:41] duhafnusa4 commented on #194
OK sounds good.

[2022-02-28 16:58] duhafnusa4 commented on #197
the pnp is for pre evo motors (2002 or older) and you can use this picture which shows the differences.

![2-28-2022 10-54-50 AM](https://user-images.githubusercontent.com/5051341/156025165-24453a74-b0b1-461d-80a6-f3390f2f8289.png)

[2022-02-28 17:00] duhafnusa4 commented on #197
I would add this picture to help differentiate Pre and Post evo engines (our pnp ecu is for pre)

![2-28-2022 10-54-50 AM](https://user-images.githubusercontent.com/5051341/156025557-3edebf15-b9ba-4e83-8b60-88e4362c0920.png)

[2022-02-28 17:12] rusefillc commented on #197
@shadowm60 ^^^ golden content!

[2022-03-01 05:44] rusefillc commented on #209
progress was made

[2022-03-01 05:44] #209 closed

[2022-03-01 05:46] rusefillc commented on #201
things got worse? no wiki result returned any more?

[2022-03-01 12:57] chuckwagoncomputing commented on #201
Looks like the status of 347 pages is:
Discovered - currently not indexed: The page was found by Google, but not crawled yet. Typically, Google wanted to crawl the URL but this was expected to overload the site; therefore Google rescheduled the crawl. This is why the last crawl date is empty on the report.

and 14 are
[Crawled](https://support.google.com/webmasters/answer/7643010) - currently not

[2022-03-02 05:08] rusefillc opened #211 "BMW 760 side sticker"
I have "green" grey vehicle
![low_760](https://user-images.githubusercontent.com/48498823/156298909-8dc4f652-c237-4ea4-a816-8bb7c202f71d.jpg) and @NMSTEC is available to print side vinyl sticker

[2022-03-02 05:10] rusefillc commented on #211
@ksmola what could be done to make it look less horrible?

target audience: I am thinking to visit a few local dyno shops and I am looking to make the 760 look like official rusEFI vehicle

[2022-03-16 22:51] chuckwagoncomputing commented on #201
We're up to 65 fully indexed. Disappointing.
Also, I noticed that Google corrects "HOWTO" to "HOW TO", and then that particular page doesn't show up, but if you click on "Search instead for HOWTO M73 v12 on Proteus", it's the first result. Frustrating.

[2022-03-19 13:36] rusefillc opened #213 "rusefi.com landing page Bounce rate too high"
Morgan brings up poor Bounce rate metric at https://rusefi.com/

Our Bounce rate* is pretty high... At 50-60%
(*Users who go to the site and don't click on any links)

![image](https://user-images.githubusercontent.com/48498823/159123261-3d6961cb-7ed4-4052-9d5b-cfed42614f41.png)

[2022-03-19 13:37] rusefillc opened #214 "rusefi.com landing page Bounce rate too high - links should be more prominent at first glance"
"links should be more prominent at first glance" as a step towards #213

[2022-03-19 13:38] rusefillc commented on #214
"Just IMO i think we need the links more accessible as they are stuck right at the bottom."

"Heck I get annoyed I have to scroll down to click on the forum link"

[2022-03-19 13:38] rusefillc commented on #214
@ksmola do you have time to spend on this or should I try fiver or else?

[2022-03-19 13:40] pk386 commented on #213
suggestion remove bottom 1/3 of top banner.

Current:
![image](https://user-images.githubusercontent.com/13985751/159123345-0bcbcca6-1e24-4ed0-ab2f-3c2b087a4009.png)

Proposed:
![image](https://user-images.githubusercontent.com/13985751/159123427-b4d7d2ad-7ce6-44b8-b8d8-71aa75ef9bf2.png)

[2022-03-23 00:30] pk386 opened #215 "Universal analytics will not be supported after July 1, 2023. must change to Google Analytics 4."
@ksmola, To be honest I don't know what has to happen. I just got big scary banner saying will not be supported after July 1st 2023....

https://support.google.com/analytics/answer/10759417

[2022-03-23 00:32] rusefillc commented on #215
C'mon it's a year out!

[2022-03-27 19:55] duhafnusa4 commented on #194
![BMM_RE](https://user-images.githubusercontent.com/5051341/160298362-8d0ff096-033d-4c30-9bf0-c71e8a2ed268.png)

[2022-03-27 19:56] duhafnusa4 commented on #194
![BMM_RE_2](https://user-images.githubusercontent.com/5051341/160298484-68107ba6-eb90-4eca-94c3-0af7f41c223f.png)

[2022-04-07 04:24] #214 closed

[2022-04-07 04:27] rusefillc opened #216 "board main pages"
We have a dozen of board landing pages which could use help

Would some icons be a low hanging fruit? For instance "interactive pinout" icon or "schematics" icon or "download release / download snapshot" firmware icons?

https://github.com/rusefi/rusefi/wiki/Hellen-128-Mercedes
https://github.com/rusefi/rusefi/wiki/Hellen-NB2
https://github.com/rusefi/rusefi/wiki/Hellen64-Miata-NA6-94
https://gith

[2022-04-07 04:28] rusefillc commented on #216
@ksmola do you have time to make progress?

[2022-04-27 19:38] duhafnusa4 commented on #203
been a few months. How is the new wiki?

[2022-06-03 19:52] duhafnusa4 commented on #39
So..do we really care about the map?

[2022-06-03 19:55] rusefillc commented on #39
Not really

[2022-06-03 19:55] #39 closed

[2022-06-03 19:56] duhafnusa4 commented on #106
closing. no comment/changes for literally years.

[2022-06-03 19:56] #106 closed

[2022-06-20 15:12] rusefillc opened #217 "users are confused between three ways to log data"
https://rusefi.com/forum/viewtopic.php?p=45629#p45629

[2022-06-20 15:13] rusefillc opened #218 "why hard and soft rev limiting"
We need documentation elaborating differences in hard and soft rev limiters

[2022-06-20 15:23] rusefillc commented on #217
:( rusEFI console https://github.com/rusefi/rusefi/tree/master/java_console which has unconditional constant logging

[2022-06-20 16:24] rusefillc commented on #217
what pages are linking new https://github.com/rusefi/rusefi/wiki/Logging-Guide?

does TS .ini help link to https://github.com/rusefi/rusefi/wiki/Logging-Guide in any way? maybe tooltip URLs or else?

[2022-06-20 16:25] mck1117 commented on #217
![image](https://user-images.githubusercontent.com/568254/174644656-23c53317-c1e9-4352-8546-cdabed8738c3.png)

I've added it to the sidebar

[2022-06-20 17:06] rusefillc commented on #217
we need a link from SD card dialog in TS

[2022-06-24 02:04] rusefillc opened #219 "LFS has broken merge"
LFS was installed to host files 100M+

merge task is now broken
[code]

[2022-06-24 02:05] rusefillc commented on #219
https://github.com/git-lfs/git-lfs/issues/2291 seems to be relevant

[2022-06-24 02:07] rusefillc commented on #219
@chuckwagoncomputing i have fresh painpoint which makes very little sense

[2022-06-24 14:12] rusefillc opened #220 "MRE GND inconsistency"
https://user-images.githubusercontent.com/48498823/175553641-20bb13db-6037-44d8-bd94-2a7c8602fb7a.mp4

[2022-06-24 14:15] rusefillc commented on #220
https://user-images.githubusercontent.com/48498823/175554297-99ab3799-4dac-4c89-9a1d-c695b343e46e.mp4

[2022-06-24 14:19] rusefillc commented on #220
hopefully progress?

![image](https://user-images.githubusercontent.com/48498823/175555069-e570b1eb-c54c-4e97-8c7e-aef269888a25.png)

[2022-06-24 14:20] rusefillc opened #221 "MRE pin URLs"
links at https://github.com/rusefi/rusefi/wiki/Hardware-microRusEFI-wiring#power do not work

is https://rusefi.com/docs/pinouts/microrusefi/?connector=main&pin=6 a valid link? does https://rusefi.com/docs/pinouts/microrusefi/?connector=main&pin=6 work as expected?

[2022-06-24 14:20] rusefillc commented on #220
More issues #221

[2022-06-24 15:05] chuckwagoncomputing commented on #220
What do you mean by "static rendering" and what are the complaints? If they can be improved I will do what I can.

[2022-06-24 15:11] rusefillc opened #222 "text right on pins mode"
can we have a mode where text for all pins goes right above pins photo?

i.e. instead of
![image](https://user-images.githubusercontent.com/48498823/175564497-a74dc891-58dc-4e12-b739-dc711ea90976.png)

can we have closer to

![image](https://user-images.githubusercontent.com/48498823/175564550-9a725efc-8fd3-4bc7-8c3c-c4a814e982ae.png)

as for XY problem - sometimes one pic/table is more efficient

[2022-06-24 15:11] rusefillc commented on #220
#222 created for static rendering

[2022-06-24 15:24] chuckwagoncomputing commented on #222
I might be able to figure something out. One thing that will make it difficult is that we don't have a "YAML ground truth" for that kind of label. The 'type' field isn't specific enough, and the 'function' field is too long.

[2022-06-24 16:00] rusefillc commented on #222
overall we lack clear consistent best practice

* some boards append pin numbers manually
* overall TS vs function separation is unclear

we either need 3rd text version or a clean-up :)

[2022-06-24 21:28] #221 closed

[2022-06-27 15:56] duhafnusa4 opened #223 "Flex Fuel Documentation needs barbed fitting adapter PN"
https://github.com/rusefi/rusefi/wiki/Flex-Fuel

shows what sensors and pigtail, but those sensors use GM push lock ends. Need barbed or AN fitting adapters for other cars.

Does anyone have the part number for that? @BeerMoneyMotorsports

see: https://www.highflowfuel.com/aem-ethanol-content-flex-fuel-sensor-kit-barbed-3-8-barbed-fittings-aem-30-2200/

[2022-06-27 18:06] rusefillc opened #224 "clarificatio on "solder it yourself""
We need some clear wiki content on the subject of

[code]

[2022-06-27 18:14] rusefillc commented on #224
added link on bottom of https://github.com/rusefi/rusefi/wiki/Hardware

[2022-06-27 18:14] #224 closed

[2022-06-27 18:30] duhafnusa4 commented on #195
What do you want to see happen @rusefillc ? I will work on making it nicer.

[2022-06-27 18:42] shadowm60 commented on #195
I did some updates, but i have no idea how to make it nicer :( info is there, maybe hard to read it all.

[2022-06-28 14:17] duhafnusa4 opened #225 "Hellen NB2 link takes you to wiki landing page"
@BeerMoneyMotorsports When I click on the NB2 link (https://github.com/rusefi/rusefi/wiki/Hellen72 shown in image below) it links to the rusefi wiki landing page.

![image](https://user-images.githubusercontent.com/5051341/176201729-f17d1b17-807c-4b09-89aa-bc56cbc00770.png)

Where is the NB2 Hellen page?

[2022-06-28 14:22] duhafnusa4 commented on #225
OK I found it here.

https://github.com/rusefi/rusefi/wiki/Hellen-NB2

Can I fix link and change it to https://github.com/rusefi/rusefi/wiki/Hellen-NB2 ?

[2022-06-28 15:20] rusefillc commented on #225
@duhafnusa4 yes please attempt to fix link accorind to docs workflow

[2022-06-28 15:39] duhafnusa4 commented on #225
Where is the rev F schematic and iBom?

[2022-06-28 15:58] duhafnusa4 commented on #225
This is the connector correct?

![image](https://user-images.githubusercontent.com/5051341/176225958-4747f49b-c707-49f7-b354-43b6f9bad201.png)

[2022-06-28 20:15] BeerMoneyMotorsports commented on #225
That is the connector.
[hellen72_NB2-f-schematic.pdf](https://github.com/rusefi/rusefi_documentation/files/9004486/hellen72_NB2-f-schematic.pdf)

[2022-06-28 20:44] rusefillc commented on #225
https://github.com/rusefi/rusefi/wiki/Hellen-One-Platform link fixed

[2022-06-28 20:58] rusefillc commented on #225
NB2-F added to https://github.com/rusefi/rusefi/wiki/Hellen-NB2

[2022-06-28 21:47] duhafnusa4 commented on #225
Why on Miata hellen do we call some by year and some by chassis?

I suggest we change it to
Miata NA
Miata NB1
Miata NB2

![image](https://user-images.githubusercontent.com/5051341/176305951-284900a8-ddc5-48d0-bd1a-905595e51737.png)

[2022-06-29 01:05] BeerMoneyMotorsports commented on #225
the 90-97 NA chassis is split between two ecus.  Unfortunately it is  not a clean split.  There are enough pinout differences, that we cannot use one ecu for all of them.  I would certainly love a cleaner naming method.

90-95 cover NA6 and NA8
96/97 cover NA8 with OBD

[2022-06-29 17:13] BeerMoneyMotorsports commented on #225
That looks backwards depending on the view you are using.  see pic below is the back of the connecter where the wires insert.

![image](https://user-images.githubusercontent.com/82395131/176496551-9ff55b8c-6d09-470f-901e-bbbc84578ccd.png)

[2022-06-29 21:40] duhafnusa4 opened #226 "Detail on how to set up iDrive or equivalent CAN button control"
I have an iDrive controller I want to use for some functions (boost control, launch control, cruise etc...)

I found the CAN data from danilo081 on https://www.bimmerfest.com/threads/k-can2-messages-to-wake-a-cic-idrive-controller.890419/#post-13182279 :

My controler 9317695
K-CAN2

Can bus Standard 11bit identifier - 500kbps [for K-CAN 100kbps ]

Pinout
1 +12 1 |*|
2 -GND 2 |*|
3 CAN HIGH 3 |*|

[2022-06-30 02:13] rusefillc commented on #226
https://rusefi.com/forum/viewtopic.php?f=4&t=2325

https://github.com/rusefi/rusefi/wiki/Lua-Scripting#bmw-idrive

[2022-07-01 23:12] chuckwagoncomputing commented on #222
Suppose the label in TS were "<pin number> - <the text from the above MRE table>"
Would that be sufficient information for the end user to have in front of them in TS, or is there currently important information in the current TS Name field that the user would loose?

If it would be enough, I propose we make the TS Name field 4 or 5 letters max, and combine the pin number and TS name when generati

[2022-07-03 02:31] rusefillc commented on #219
[code]
helps locally - as described at https://github.com/git-lfs/git-lfs/issues/2291#issuecomment-305874747

[2022-07-03 02:48] rusefillc commented on #219
wow that weird hack has helped

[2022-07-03 02:48] #219 closed

[2022-07-04 16:17] chuckwagoncomputing commented on #219
If I understand correctly, removing the hook means that LFS will not be used.

[2022-07-04 16:50] rusefillc commented on #219
we might not even have any links to .pdf files in the affected folders

worst case we will have full URL of documentation wiki

[2022-07-04 20:07] rusefillc opened #227 "Document 12 tooth trigger"
https://github.com/rusefi/rusefi/wiki/All-Supported-Triggers should explain usages of

![image](https://user-images.githubusercontent.com/48498823/177211947-0875c25a-c07a-4d34-b89e-c8a53a52b228.png)

[2022-07-04 20:07] rusefillc commented on #227
See also https://rusefi.com/forum/viewtopic.php?p=45801&sid=79166fc0cd1805031193243a839e6322#p45801

[2022-07-08 15:05] moistbrochure opened #229 "was [Wall Wetting AE Link Empty] now forum points to wrong page, we have duplicated page"
As per the request of Sir @duhafnusa4 the wall wetting Ae info page is not there.
![image](https://user-images.githubusercontent.com/108901504/178013779-29d813cc-abe3-4f5b-907d-0a9f0a79c370.png)
https://github.com/rusefi/rusefi/wiki/wall_wetting

However, we have this page https://github.com/rusefi/rusefi/wiki/X-tau-Wall-Wetting which is full of stuff but not full of the other AE settings/tuning b

[2022-07-08 15:52] duhafnusa4 commented on #229
Where did you find the link https://github.com/rusefi/rusefi/wiki/wall_wetting ?

[2022-07-08 16:25] moistbrochure commented on #229
Overview tab
https://github.com/rusefi/rusefi/wiki/overview

[2022-07-08 16:26] rusefillc commented on #229
https://github.com/rusefi/rusefi/wiki/Overview fixed

[2022-07-08 16:31] moistbrochure commented on #229
Looks like the "about rusefi" link on the forum takes you to an overview page that has been forgotten about.
![image](https://user-images.githubusercontent.com/108901504/178032942-a01a6a0d-e4e3-4b21-9865-9167cf4bc169.png)
It takes you to https://github.com/rusefi/rusefi/wiki/Overview which has the link to the wall-wetting page, that is empty. Not the good wall wetting description page.

The wiki m

[2022-07-08 16:42] moistbrochure opened #230 "Rusefi Forum Link goes to overview not wiki"
The "about rusefi" link on the forum main page links to the overview page:
![image](https://user-images.githubusercontent.com/108901504/178034553-d31f2ce7-dcf7-4965-b4ba-9e4e6961f93f.png)
https://github.com/rusefi/rusefi/wiki/overview

The correct links for all details are on the page: https://github.com/rusefi/rusefi/wiki
This is the real "home" page.

[2022-07-08 16:43] rusefillc opened #231 "rusefi forum top stripe points at older version of duplicated page"
https://rusefi.com/forum/ "about rusEFI" points at https://github.com/rusefi/rusefi/wiki/overview which seems to be an older clone on https://github.com/rusefi/rusefi/wiki/ home page

rusEFI forum should point at nicer https://github.com/rusefi/rusefi/wiki/ main page

[2022-07-08 16:43] moistbrochure commented on #229
Rodger that. New ticket added #230

[2022-07-08 16:44] rusefillc commented on #229
Now I am getting it, we have two different issues here

#231 which is my duplicate of #230

and fact that we have two clones of same page

[2022-07-08 16:44] rusefillc commented on #231
Dup of #230

[2022-07-08 16:44] #231 closed

[2022-07-08 16:46] rusefillc commented on #230
https://rusefi.com/forum/ about now points to proper wiki home

open question when shall we change link to wiki.rusefi.com but that's for a different day

[2022-07-08 16:46] #230 closed

[2022-07-08 16:47] rusefillc commented on #229
@chuckwagoncomputing do you know anything about https://github.com/rusefi/rusefi/wiki/Overview and https://github.com/rusefi/rusefi/wiki content duplication? I assume we shall wipe out Overview ? replace with link to home?

[2022-07-08 16:50] chuckwagoncomputing commented on #229
I don't remember anything about it. I say we replace it with a link to home.

[2022-07-08 16:52] rusefillc commented on #229
Done https://github.com/rusefi/rusefi/wiki/Overview

[2022-07-08 16:52] #229 closed

[2022-07-08 23:36] rusefillc opened #232 "idle parameters are unclear"
documentation sibling of https://github.com/rusefi/rusefi/issues/4336

[2022-08-14 22:26] rusefillc opened #233 "Document firmware upgrade process or make existing documentation more visible"
See https://rusefi.com/forum/viewtopic.php?p=46065#p46065

[2022-08-17 13:08] rusefillc opened #234 "Document warning code blinking out"
https://www.rusefi.com/forum/viewtopic.php?p=46091#p46091

[2022-09-19 19:56] duhafnusa4 opened #235 "MRE GP clarification"
pinout shows "GP" for the pins, but in the description below it there are 3 versions (GP LOW/HIGH/PP)

the pinout diagram needs clarification on which GP is which, unless they all could be any 3 (and that needs to be detailed)

![image](https://user-images.githubusercontent.com/5051341/191105215-2adbcacd-33ff-4973-a78c-e9a152154878.png)

![image](https://user-images.githubusercontent.com/5051341/1

[2022-09-19 21:00] rusefillc opened #236 "Interactive pinout: order of connectors"
'main' connector has to be on top of https://rusefi.com/docs/pinouts/microrusefi/

overall it sounds like we need a mechanism to control the order of individual connectors

[2022-09-19 21:02] rusefillc commented on #235
This seems to be about https://github.com/rusefi/rusefi/wiki/Hardware-microRusEFI-wiring

Source files are lost of some or all of images on that page, the way forward would be to replace everything with interactive pinout

Which brings us to https://github.com/rusefi/rusefi_documentation/issues/236

[2022-09-20 16:28] rusefillc commented on #201
good news:
https://www.google.com/search?q=rusefi+dfu+button

includes https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjnxvb25KP6AhVxAjQIHXtQAUMQFnoECAwQAQ&url=https%3A%2F%2Fwiki.rusefi.com%2FHOWTO%2FHOWTO-Update-Firmware%2F&usg=AOvVaw3o6K1GoEhFSutRYHb3jEHx

[2022-09-21 14:09] #236 closed

[2022-09-21 17:57] chuckwagoncomputing commented on #201
Where is the wiki hosted? It's on 1&1 right? Is it possible that you don't have enough bandwidth for Google to crawl without overloading your hosting?
As a reminder, this is the official explanation from Google:

Discovered - currently not indexed

The page was found by Google, but not crawled yet. Typically, Google wanted to crawl the URL but this was expected to overload the site; therefore Goog

[2022-09-22 03:06] mck1117 commented on #201
how does google even know that it would be expected to overload you?

[2022-09-22 11:46] chuckwagoncomputing commented on #201
I assume it measures the download rate while indexing a few pages.

[2022-09-22 14:06] duhafnusa4 commented on #235
whats the timeline for #236?

[2022-10-03 02:05] #194 closed

[2022-10-07 02:04] ElDominio opened #239 "PPS reading crazy values while voltages and scaling is correct"
https://rusefi.com/online/view.php?log=1067

Raw voltages seem fine yet PPS bounces all over the place?

[2022-10-07 02:07] ElDominio commented on #239
![image](https://user-images.githubusercontent.com/5685108/194451228-1d4d3efc-967b-4ae9-8dd9-44e6f9c3a3d7.png)

[2022-10-07 02:10] ElDominio commented on #239
Solved myself, needed to recalibrate; why does this happen?

[2022-10-07 02:11] rusefillc commented on #239
@ElDominio i really hope that @mck1117 would ask for more info

like before calibration tune
after calibration tune
details on how did you get the before-calibration tune :)

[2022-10-07 02:25] ElDominio commented on #239
same as always, grab up grab down

both tunes are on rusefi online

[2022-10-07 02:27] ElDominio opened #240 "Extremely noisy external MAP"
https://rusefi.com/online/view.php?log=1068

You can see MAP being VERY noisy in upper RPMs/MAPs, it is connected to the board directly, will follow up thread with pics

[2022-10-07 02:32] ElDominio commented on #240
Pics

[2022-10-07 02:32] ElDominio commented on #240
![IMG_20221006_223036__01.jpg](https://user-images.githubusercontent.com/5685108/194455427-57cd13f9-9a1d-411c-a301-073f1484536e.jpg)

![IMG_20221006_214905__01.jpg](https://user-images.githubusercontent.com/5685108/194455475-b1ea092e-c7c0-44d4-bcc6-f68e5eb17df6.jpg)

![IMG_20221006_214857__01.jpg](https://user-images.githubusercontent.com/5685108/194455527-f569d909-948e-4d6b-abaa-e098f73cb689.jpg)

[2022-10-07 02:34] stefanst commented on #240
That looks like a 25ms period at 6000 rpm. If it's an 8 cylinder it could just be intake pulses. Some smoothing and you should be OK.

[2022-10-07 02:39] rusefillc commented on #240
@stefanst that's a 6 cylinder nissan 350z

[2022-10-11 17:31] duhafnusa4 commented on #235
whats the timeline for #236?

[2022-10-11 17:45] rusefillc commented on #235
@duhafnusa4 does https://github.com/rusefi/rusefi_documentation/issues/236 show closed to you?

![image](https://user-images.githubusercontent.com/48498823/195162760-acf5006a-4362-4dd1-90fd-c539144877b6.png)

[2022-10-11 17:46] rusefillc commented on #235
next step is to decide what exact text to change in what exact way on https://rusefi.com/docs/pinouts/microrusefi/

[2022-10-11 17:47] rusefillc commented on #235
final step would be to drop outdated images and table from https://github.com/rusefi/rusefi/wiki/Hardware-microRusEFI-wiring once https://rusefi.com/docs/pinouts/microrusefi/ has the best info

[2022-10-16 19:06] rusefillc opened #241 "Documentation is important, 1+24 is confusing at least Dron"
While killing 1+24 Honda we should have updated https://github.com/rusefi/rusefi/wiki/All-Supported-Triggers#honda accordingly

[2022-10-16 19:07] rusefillc commented on #241
@mck1117 FYI

[2022-10-16 19:07] #241 closed

[2022-10-16 19:11] rusefillc commented on #227
@mck1117 please increase priority of this

See also #241

[2022-11-07 20:51] mi-hol commented on #210
I got confused hence opened https://github.com/rusefi/rusefi/issues/4749
Would suggest to fix this with high priority

[2022-11-08 00:04] rusefillc commented on #188
Status update:

@chuckwagoncomputing has explicitly converted all URLs into full blown URL syntax like https://github.com/chuckwagoncomputing/rusefi_documentation/commit/a6c27028f406ee32294e3fe43f1cf32d8edac642

it sounds like the proposal is to just always to use explicit syntax which is nasty but gets us forward

[2022-11-08 00:11] rusefillc opened #244 "Reflect "wiki edit has to be restricted" facts on relevant wiki article"
* we shall articulate why editing is restricted see #208

* we shall articulate fact that https://github.com/orgs/rusefi/teams/doc-team exists

[2022-11-08 00:11] rusefillc commented on #244
@mi-hol can you please help?

[2022-11-08 00:12] mck1117 commented on #244
why does that need specific documentation? why not just have instructions for how to contribute to the wiki?

[2022-11-08 00:12] #208 closed

[2022-11-08 00:14] rusefillc commented on #244
@mck1117 are you looking to debate or help? Please use your best judgement if you are available to edit any relevant articles/pages.

[2022-11-08 00:16] rusefillc commented on #244
Kind of relevant https://github.com/rusefi/rusefi_documentation/issues/165 but no idea what action if any is needed. Are we supposed to remember why things are done the way they are done or shall we keep the reasons written down?

[2022-11-08 00:16] rusefillc commented on #165
Closing @mck1117 @mi-hol @chuckwagoncomputing FYI.

[2022-11-08 00:16] #165 closed

[2022-11-08 00:21] rusefillc opened #245 "[minor usability issue, not show stopper] wiki3 search results - ordering needs improvement"
https://wiki.rusefi.com/search.html?q=trigger order of results looks problematic to me

Specifically pages with "trigger" in the URL are not as high as I would like those to be - in this case https://wiki.rusefi.com/All-Supported-Triggers/

![image](https://user-images.githubusercontent.com/48498823/200443463-c9862b8e-2051-4b4d-a37c-40a0b640da43.png)

[2022-11-08 00:21] rusefillc commented on #203
Open question if #245 is a blocker or not

[2022-11-08 17:46] rusefillc opened #246 "Bring HOWTO slack up to date"
https://github.com/rusefi/rusefi/wiki/HOWTO-join-slack-channel image no longer needed? Some content is no longer needed in light of https://rusefi.com/forum/viewtopic.php?p=46606#p46606

[2022-11-08 18:14] mi-hol commented on #246
@rusefillc happy to help but unclear on the "what" and "how" because

1. never used Slack before
2. https://github.com/rusefi/rusefi/wiki/HOWTO-join-slack-channel was updated by yourself a few minutes ago.

Hence "what" needs to be updates is unclear ATM ans my telepathic abilities are limited too :)

[2022-11-09 11:49] mi-hol opened #249 "HowTo - Test changes in Wiki before creating PR - seems missing"
Issue:
 I wanted to make wording consistent in navigation bar of wiki to avoid confusion.
Specific example is:
Change "microRusEFI" to read "MicroRusEFI (MRE)"

I assume to have found the name mapping for navigation bar in  mkdocs/mkdocs.yaml
But how can I make sure this assumption is correct without creating a PR?

Risk:
In case my assumption was wrong, worst case a PR could screw up the whole wi

[2022-11-13 15:19] mi-hol commented on #203
not from my view because "search to provide results in optimal order" is a complete different unrelated topic.
I'd suggest to close this issue.

[2022-11-13 15:22] mi-hol commented on #245
@rusefillc I'd suggest to remove label "wiki location drama" and to create a new label "wiki search optimization"

[2022-11-13 15:30] mi-hol commented on #111
@rusefillc should this be closed?

[2022-11-13 15:54] mi-hol commented on #244
From my view this is the right approach but it moves the burden on to reviewers to **only merge appropriate changes**.
Defining review rules would allow for (partial) automation.
As example a rule like:
- enforce 4 eyes principle, author of change and person that merges a change can't be the same?

Suggestions very welcome

[2022-11-13 16:01] rusefillc commented on #244
I am sorry I am barely engaging for multiple reasons :(

[2022-11-13 16:14] mi-hol commented on #244
is this due to "Andrey does not believe in text documentation on wiki"  as mentioned in https://wiki.rusefi.com/Documentation-Strategy/ ?

[2022-11-13 16:23] rusefillc commented on #244
Yes that's one of the reasons

https://github.com/rusefi/rusefi/issues/4722 for instance is much higher priority

[2022-11-13 16:40] mi-hol commented on #244
During my career as developer I had to learn the following principle in order to be successful and have time for new delopment.
The principles:

DRY means "Don't Repeat Yourself"
So when a piece of software was deployed its users came back with questions. Usually after a short period of the time the same questions came up again and again.
My strategy to have still time for new development was let

[2022-11-13 17:16] rusefillc commented on #244
I think we have agree on the principle see https://github.com/rusefi/rusefi/wiki/Contributors-please-work-smart

We are chatting via github which is not effective.

[2022-11-14 14:38] mi-hol commented on #246
@rusefillc re "https://github.com/rusefi/rusefi/wiki/HOWTO-join-slack-channel **image no longer needed**?" what exact image do you believe is no longer needed?

[2022-11-14 14:48] rusefillc commented on #246
https://github.com/rusefi/rusefi/wiki/FAQ/images/HOWTO_join_rusEFI_slack_channel/slack_channel_invite.png seems to show old invite page?

[2022-11-14 15:26] rusefillc commented on #188
Reopening since I think it's far from done

Problem:
I am a lazy human and I've created new content on wiki2-technical https://github.com/rusefi/rusefi_documentation/blob/master/Gen-4-LS.md note how links are nicely rendered as URL

and now same new content on wiki3 https://wiki.rusefi.com/Gen-4-LS/

note how links are not URLs

I really do not like working hard. We need automation for edits on wi

[2022-11-14 15:29] rusefillc opened #250 "rusEFI book - documentation in linear form"
We have four instanced of wiki but @eldominio is confident that a "book", i.e. a linear representation of the same content is something of a high priority

[2022-11-14 15:31] chuckwagoncomputing commented on #188
1. "Automatic Links" are not part of the Markdown standard, they're an additional thing Github has done.
2. Bare URL links are ugly and uncivilized
3. Don't be lazy

[2022-11-14 15:32] rusefillc commented on #250
Somewhat related to #168

[2022-11-14 15:35] rusefillc commented on #188
I hope to stay in human form for 30ish more years, there is no way I can take manual self-control of URL approach

if we are unable to automate the translation we have to at least automated detection: there should be at least an email or a URL where all "bad" links are mentioned so that manual human replacement could be done based on the auto-generated problem report and not just by manual review

[2022-11-14 15:42] rusefillc commented on #250
"the book" does not imply that we move the source of truth into a linear form

I guess for PDF purposes content would have to be copy-pasted say once a year. In order to facilitate the once a year PDF production I guess first we need an amazing index wiki page such that once a year one could go through many pages in the order of the index and copy-paste content into a PDF book.

[2022-11-14 23:35] #144 closed

[2022-11-15 00:24] rusefillc commented on #144
https://rusefi.com/wiki is just a redirect HTML now https://github.com/rusefi/web_backend/tree/master/www/wiki

[2022-11-15 10:59] mi-hol opened #252 "Sync TunerStudio help with wiki3"
Issue:
Help texts in TS don't seem to use wiki content

example:
![image](https://user-images.githubusercontent.com/22799428/201903457-dabe942b-7452-48b7-9aff-81b5db3880f5.png)

Requirement:
find an approach to have application "Help" use wiki content

Solution idea:
- use a "Progressive Web App" (PWA) for "Help" text that saves web content for offline use and refreshes it at every startup

[2022-11-15 12:03] mi-hol opened #253 "document view in editor preview and Wiki differ for URLs!"
Example:

![image](https://user-images.githubusercontent.com/22799428/201914748-12048121-29e5-4bf0-b033-b127caa51ad8.png)

@chuckwagoncomputing this difference seems unintentional.
Any idea how to fix?

[2022-11-15 14:14] mi-hol commented on #188
GitHub's user experience for editors is therefore much better than what a  later wiki user gets to see.
From my view its a major gap that needs to be closed in order to get better rusEFI community involvement in  documentation

[2022-11-15 17:34] mi-hol commented on #188
I found a very similar issue with a solution in https://github.com/community/community/discussions/22154#discussioncomment-3235674
Would mkdoc perhaps have an option for GitHub Flavoured Markdown?

[2022-11-15 17:39] rusefillc commented on #188
Also question if we shall move to https://kramdown.gettalong.org/ engine ? :)

[2022-11-15 17:45] mi-hol commented on #188
would have been my second question, in case first is answered with a "no"

[2022-11-15 18:08] chuckwagoncomputing commented on #188
After some more research, it seems that Mkdocs can pass plugins to Python-markdown, so maybe a combination of https://github.com/selcuk/markdown-urlify and https://github.com/Python-Markdown/github-links could be made to work.

And Kramdown is just a markdown engine, it only does fraction of what Mkdocs does.

[2022-11-17 17:16] mi-hol opened #255 "Trigger-Configuration-Guide.md misses 2 "polarity" pictures in "I'm a Nerd and Want to Know More" section"
Here are some oscilloscope screenshots of a different trigger wheel, in this case a 24-1 designed specifically for bench testing

...

First, here's the wrong polarity:

< wrong polarity scope image >

...

And here's the correct polarity

< correct polarity scope image >

[2022-11-18 14:45] mi-hol commented on #233
"https://github.com/rusefi/rusefi_documentation/commit/b8cc5af30eccbf44e9a14986bccac7a127fe5707" addressed this already to some extend.

Does Tunerstudio actively check for new  **released firmware versions** ?

[2022-11-18 15:42] #246 closed

[2022-11-19 15:56] mi-hol commented on #213
With changes applied in March, how did  Bounce rate metrics develop over time?
From my view navigation at bottom of page is a non-standard approach, hence may contribute to the high bounce rate

[2022-11-20 00:00] rusefillc commented on #213
No idea what this means just pasting the report screenshot

@chris-tina FYI

![image](https://user-images.githubusercontent.com/48498823/202876283-99704e69-dd7c-473d-a647-962d5fc1ebe8.png)

[2022-11-20 00:04] rusefillc commented on #213
Comparison but important to note  that we did ads

![image](https://user-images.githubusercontent.com/48498823/202876380-f5070c29-0af3-4eaa-8920-625a4dccad9b.png)

[2022-11-21 14:34] duhafnusa4 opened #257 "REO does not display latest tunes"
I was looking for a specific tune that a friend said they uploaded, it was recent so I expected to see it on the main page of reo. Scrolling down I see an upload of his from 10-15-2022.

![image](https://user-images.githubusercontent.com/5051341/203080769-5f45c1e7-d00d-4035-977e-eb29d1866a36.png)

If I click on his username, then click on his project name taking me to all his stuff on REO, I can n

[2022-11-22 22:26] chuckwagoncomputing commented on #188
I'm a noob as well.
The mkdocs config is [here](https://github.com/rusefi/rusefi_documentation/blob/master/mkdocs/mkdocs.yaml).
The documentation for the markdown_extension option is [here](https://www.mkdocs.org/user-guide/configuration/#markdown_extensions).

[2022-11-28 16:07] duhafnusa4 commented on #257
bump @rusefillc